Daily AI News Summary.json
{
  "name": "Daily AI News Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "88d6d65a-fc47-412d-ad12-ad2ce1dfeb1f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.artificialintelligence-news.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "b44b69d5-1af4-4b30-8f11-4be986d8c822",
      "name": "RSS Read",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Summarize the following latest AI news articles in 3-5 concise, professional bullet points. Focus on key insights and trends.\n\nArticles:\n{{ JSON.stringify($json) }}\n\nKeep the summary under 200 words and make it engaging for a daily AI briefing."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        432,
        0
      ],
      "id": "58055e27-3dfc-48b5-a81e-bdd8fcc5e2c6",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "fb6pWCZA7ga3UyYt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sbarde.khushboo@gmail.com",
        "subject": "=Daily AI News Summary – {{ $today }}",
        "message": "=Daily AI News Summary – {{ $today }}\n\nHere are the key insights from today's top AI articles:\n\n{{ $node[\"Message a model\"].json[\"output\"][0][\"content\"][0][\"text\"] }}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        0
      ],
      "id": "be1b3aa9-0c07-4fa6-87b1-b2d0ff210676",
      "name": "Send a message",
      "webhookId": "6692e9b7-f920-4a66-ac17-9a5e08d79b57",
      "credentials": {
        "gmailOAuth2": {
          "id": "NalSjoCKnORN0481",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "RSS Read": [
      {
        "json": {
          "creator": "AI News",
          "title": "The future of rail: Watching, predicting, and learning",
          "link": "https://www.artificialintelligence-news.com/news/rail-ai-in-the-uk-beyond-predictive-maintenance/",
          "pubDate": "Wed, 24 Dec 2025 12:09:59 +0000",
          "content:encoded": "\n<p>A <a href=\"https://petardsrailsolutions.com/wp-content/uploads/2025/09/Latest-Innovation-in-Rail-Industry-News.pdf\">recent industry report</a> [PDF] argues that Britain&#8217;s railway network could carry an extra billion journeys by the mid-2030s, building on the 1.6 billion passenger rail journeys recorded to year-end March 2024. The next decade will involve a combination of complexity and control, as more digital systems, data, and interconnected suppliers create the potential for more points of failure.</p>\n\n\n\n<p>The report&#8217;s central theme is that AI will become the operating system for modern rail, not as a single, centralised collection of models and algorithms, but as layers of prediction, optimisation, and automated monitoring found in infrastructure, rolling stock, maintenance yards, and stations (pp.18-23). This technology will guide human focus within daily work schedules rather than replace human activity entirely.</p>\n\n\n\n<h4 class=\"wp-block-heading\" id=\"org1c06f0d\">Maintenance to become predictive and data-driven</h4>\n\n\n\n<p>Traditional rail maintenance relies on fixed schedules and manual inspections, a reactive and labour-intensive practice. The whitepaper cites Network Rail’s reliance on engineers walking the track to spot defects (p.18). AI will shift the industry to predictive maintenance, analysing data from sensors to forecast failures before they cause significant disruption.</p>\n\n\n\n<p>This involves a combination of sensors and imaging, including high-definition cameras, LiDAR scanners, and vibration monitors. These provide machine-learning systems with data that can flag degradation in track, signalling, and electrical assets ahead of failure (pp.18-19).</p>\n\n\n\n<p>These monitoring programs can generate alerts months in advance, reducing emergency call-outs. The timeframe for predicting asset failure varies by asset type. Network Rail’s intelligent infrastructure efforts should transition from “find and fix” to “predict and prevent.”</p>\n\n\n\n<p>Network Rail emphasises data-led maintenance and tools designed to consolidate asset information, while European R&amp;D programs (like Europe&#8217;s Rail and its predecessor, Shift2Rail) fund projects like DAYDREAMS, similarly aimed at prescriptive asset management. Prediction at scale requires a common approach to achieve transformation.</p>\n\n\n\n<h4 class=\"wp-block-heading\" id=\"orge8e28ae\">Traffic control and energy efficiency</h4>\n\n\n\n<p>Operational optimisation, beyond predictive maintenance, offers significant returns. AI systems use live and historical operating data—train positions, speeds, weather forecasts—to anticipate disruption and adjust traffic flow. Digital twin and AI-based traffic management trials in Europe, alongside research and testing of AI-assisted driving and positioning, could increase overall network capacity without laying more track (p.20).</p>\n\n\n\n<p>Algorithms also advise drivers on optimal acceleration and braking, potentially saving 10-15% in energy. Considering route variations, traction, and timetable constraints, energy savings compound quickly across a large network.</p>\n\n\n\n<h4 class=\"wp-block-heading\" id=\"orgadea2a6\">Safety monitoring and CCTV</h4>\n\n\n\n<p>Visible AI applications focus on safety and security. Obstacle detection uses thermal cameras and machine learning to identify hazards beyond human visibility. AI also monitors level crossings and analyses CCTV footage to spot unattended items and suspicious activity (pp.20-21). For example, AI and LiDAR are used for crowd monitoring at London Waterloo as part of a suite of safety tools.</p>\n\n\n\n<h4 class=\"wp-block-heading\" id=\"org5d32268\">Passenger flows and journey optimisation</h4>\n\n\n\n<p>AI can forecast demand using ticket sales, events, and mobile signals, allowing operators to adjust the number of carriages and reduce overcrowding, the report states. Passenger counting is a high-impact, low-drama application: better data supports better timetables and clearer customer information.</p>\n\n\n\n<h4 class=\"wp-block-heading\" id=\"org01a283f\">Cybersecurity issues</h4>\n\n\n\n<p>As operational technology converges with IT, cybersecurity becomes a critical operational issue. Legacy systems, lacking replacement plans, pose a risk, as does integrating modern analytics with older infrastructure. This creates conditions attractive to attackers.</p>\n\n\n\n<p>The future of AI in rail involves sensors performing in extreme environments, models trusted and tested by operators, and governance that treats cyber resilience as inseparable from physical safety. The <a href=\"https://petardsrailsolutions.com/wp-content/uploads/2025/09/Latest-Innovation-in-Rail-Industry-News.pdf\">report’s message</a> is that AI will arrive regardless. The question is whether railways proactively adopt and control it or inherit it as un-managed complexity.</p>\n\n\n<p><em>(Image source: &#8220;Train Junction&#8221; by jcgoble3 is licensed under CC BY-SA 2.0.)</em></p>\n<p>&nbsp;</p>\n\n<a href=\"https://www.ai-expo.net/?utm_source=AI-News&#038;utm_medium=Footer-banner&#038;utm_campaign=world-series\"><img decoding=\"async\" src=\"https://www.artificialintelligence-news.com/wp-content/uploads/2025/08/ai-expo-banner-2025.png\"></a>\n\n<p><strong>Want to learn more about AI and big data from industry leaders?</strong> Check out <a href=\"https://www.ai-expo.net/\">AI &amp; Big Data Expo</a> taking place in Amsterdam, California, and London. The comprehensive event is part of <a href=\"https://techexevent.com/\">TechEx</a> and co-located with other leading technology events. Click <a href=\"https://techexevent.com/\">here</a> for more information.</p>\n\n<p>AI News is powered by <a href=\"https://techforge.pub/\">TechForge Media</a>. Explore other upcoming enterprise technology events and webinars <a href=\"https://techforge.pub/events/\">here</a>.</p><p>The post <a href=\"https://www.artificialintelligence-news.com/news/rail-ai-in-the-uk-beyond-predictive-maintenance/\">The future of rail: Watching, predicting, and learning</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "content:encodedSnippet": "A recent industry report [PDF] argues that Britain’s railway network could carry an extra billion journeys by the mid-2030s, building on the 1.6 billion passenger rail journeys recorded to year-end March 2024. The next decade will involve a combination of complexity and control, as more digital systems, data, and interconnected suppliers create the potential for more points of failure.\nThe report’s central theme is that AI will become the operating system for modern rail, not as a single, centralised collection of models and algorithms, but as layers of prediction, optimisation, and automated monitoring found in infrastructure, rolling stock, maintenance yards, and stations (pp.18-23). This technology will guide human focus within daily work schedules rather than replace human activity entirely.\nMaintenance to become predictive and data-driven\nTraditional rail maintenance relies on fixed schedules and manual inspections, a reactive and labour-intensive practice. The whitepaper cites Network Rail’s reliance on engineers walking the track to spot defects (p.18). AI will shift the industry to predictive maintenance, analysing data from sensors to forecast failures before they cause significant disruption.\nThis involves a combination of sensors and imaging, including high-definition cameras, LiDAR scanners, and vibration monitors. These provide machine-learning systems with data that can flag degradation in track, signalling, and electrical assets ahead of failure (pp.18-19).\nThese monitoring programs can generate alerts months in advance, reducing emergency call-outs. The timeframe for predicting asset failure varies by asset type. Network Rail’s intelligent infrastructure efforts should transition from “find and fix” to “predict and prevent.”\nNetwork Rail emphasises data-led maintenance and tools designed to consolidate asset information, while European R&D programs (like Europe’s Rail and its predecessor, Shift2Rail) fund projects like DAYDREAMS, similarly aimed at prescriptive asset management. Prediction at scale requires a common approach to achieve transformation.\nTraffic control and energy efficiency\nOperational optimisation, beyond predictive maintenance, offers significant returns. AI systems use live and historical operating data—train positions, speeds, weather forecasts—to anticipate disruption and adjust traffic flow. Digital twin and AI-based traffic management trials in Europe, alongside research and testing of AI-assisted driving and positioning, could increase overall network capacity without laying more track (p.20).\nAlgorithms also advise drivers on optimal acceleration and braking, potentially saving 10-15% in energy. Considering route variations, traction, and timetable constraints, energy savings compound quickly across a large network.\nSafety monitoring and CCTV\nVisible AI applications focus on safety and security. Obstacle detection uses thermal cameras and machine learning to identify hazards beyond human visibility. AI also monitors level crossings and analyses CCTV footage to spot unattended items and suspicious activity (pp.20-21). For example, AI and LiDAR are used for crowd monitoring at London Waterloo as part of a suite of safety tools.\nPassenger flows and journey optimisation\nAI can forecast demand using ticket sales, events, and mobile signals, allowing operators to adjust the number of carriages and reduce overcrowding, the report states. Passenger counting is a high-impact, low-drama application: better data supports better timetables and clearer customer information.\nCybersecurity issues\nAs operational technology converges with IT, cybersecurity becomes a critical operational issue. Legacy systems, lacking replacement plans, pose a risk, as does integrating modern analytics with older infrastructure. This creates conditions attractive to attackers.\nThe future of AI in rail involves sensors performing in extreme environments, models trusted and tested by operators, and governance that treats cyber resilience as inseparable from physical safety. The report’s message is that AI will arrive regardless. The question is whether railways proactively adopt and control it or inherit it as un-managed complexity.\n(Image source: “Train Junction” by jcgoble3 is licensed under CC BY-SA 2.0.)\n \n\n\nWant to learn more about AI and big data from industry leaders? Check out AI & Big Data Expo taking place in Amsterdam, California, and London. The comprehensive event is part of TechEx and co-located with other leading technology events. Click here for more information.\nAI News is powered by TechForge Media. Explore other upcoming enterprise technology events and webinars here.\nThe post The future of rail: Watching, predicting, and learning appeared first on AI News.",
          "dc:creator": "AI News",
          "content": "<p>A recent industry report [PDF] argues that Britain&#8217;s railway network could carry an extra billion journeys by the mid-2030s, building on the 1.6 billion passenger rail journeys recorded to year-end March 2024. The next decade will involve a combination of complexity and control, as more digital systems, data, and interconnected suppliers create the potential for [&#8230;]</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/rail-ai-in-the-uk-beyond-predictive-maintenance/\">The future of rail: Watching, predicting, and learning</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "contentSnippet": "A recent industry report [PDF] argues that Britain’s railway network could carry an extra billion journeys by the mid-2030s, building on the 1.6 billion passenger rail journeys recorded to year-end March 2024. The next decade will involve a combination of complexity and control, as more digital systems, data, and interconnected suppliers create the potential for […]\nThe post The future of rail: Watching, predicting, and learning appeared first on AI News.",
          "guid": "https://www.artificialintelligence-news.com/?p=111425",
          "categories": [
            "Government & Public Sector AI",
            "Retail & Logistics AI",
            "iiot",
            "predictive maintenance",
            "railways",
            "uk"
          ],
          "isoDate": "2025-12-24T12:09:59.000Z"
        }
      },
      {
        "json": {
          "creator": "Muhammad Zulhusni",
          "title": "Disney is embedding generative AI into its operating model",
          "link": "https://www.artificialintelligence-news.com/news/why-disney-is-embedding-generative-ai-into-its-operating-model/",
          "pubDate": "Wed, 24 Dec 2025 10:00:00 +0000",
          "content:encoded": "\n<p>For a company built on intellectual property, scale creates a familiar tension. Disney needs to produce and distribute content across many formats and audiences, while keeping tight control over rights, safety, and brand consistency. Generative AI promises speed and flexibility, but unmanaged use risks creating legal, creative, and operational drag.</p>\n\n\n\n<p>Disney’s agreement with OpenAI shows how a large, IP-heavy organisation is attempting to resolve that tension by putting AI inside its operating system rather than treating it as a side experiment.</p>\n\n\n\n<p>Under the deal, Disney becomes both a licensing partner and a major enterprise customer. OpenAI’s video model Sora will be able to generate short, user-prompted videos using a defined set of Disney-owned characters and environments. Separately, Disney will use OpenAI’s APIs to build internal tools and new consumer experiences, including integrations tied to Disney+. The company will also deploy ChatGPT internally for employees.</p>\n\n\n\n<p>The mechanics matter more than the spectacle. Disney is not opening its catalogue to unrestricted generation. The licence excludes actor likenesses and voices, limits which assets can be used, and applies safety and age-appropriate controls. In practice, this positions generative AI as a constrained production layer—capable of generating variation and volume, but bounded by governance.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-ai-inside-existing-workflows\">AI inside existing workflows</h3>\n\n\n\n<p>A consistent failure mode in enterprise AI programmes is separation. Tools live outside the systems where work actually happens, adding steps instead of removing them. Disney’s approach mirrors a more pragmatic pattern: put AI where decisions are already made.</p>\n\n\n\n<p>On the consumer side, AI-generated content will surface through Disney+, rather than through a standalone experiment. On the enterprise side, employees gain access to AI through APIs and a standardised assistant, rather than a patchwork of ad hoc tools. This reduces friction and makes AI usage observable and governable.</p>\n\n\n\n<p>The implication is organisational. Disney is treating generative AI as a horizontal capability—closer to a platform service than a creative add-on. That framing makes it easier to scale usage across teams without multiplying risk.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-variation-without-expanding-headcount\">Variation without expanding headcount</h3>\n\n\n\n<p>The Sora licence focuses on short-form content derived from pre-approved assets. That constraint is deliberate. In production environments, much of the cost sits not in ideation but in generating usable variations, reviewing them, and moving them through distribution pipelines.</p>\n\n\n\n<p>By allowing prompt-driven generation inside a defined asset set, Disney can reduce the marginal cost of experimentation and fan engagement without increasing manual production or review load. The output is not a finished film. It is a controlled input into marketing, social, and engagement workflows.</p>\n\n\n\n<p>This mirrors a broader enterprise pattern: AI earns its place when it shortens the path from intent to usable output, not when it creates standalone artefacts.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-apis-over-point-tools\">APIs over point tools</h3>\n\n\n\n<p>Beyond content generation, the agreement positions OpenAI’s models as building blocks. Disney plans to use APIs to develop new products and internal tools, rather than relying solely on off-the-shelf interfaces.</p>\n\n\n\n<p>This matters because enterprise AI programmes often stall on integration. Teams waste time copying outputs between systems or adapting generic tools to fit internal processes. API-level access allows Disney to embed AI directly into product logic, employee workflows, and existing systems of record.</p>\n\n\n\n<p>In effect, AI becomes part of the connective tissue between tools, not another layer employees must learn to work around.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-aligning-productivity-with-incentives\">Aligning productivity with incentives</h3>\n\n\n\n<p>Disney’s $1 billion equity investment in OpenAI is less interesting as a valuation signal than as an operational one. It indicates an expectation that AI usage will be persistent and central, not optional or experimental.</p>\n\n\n\n<p>For large organisations, AI investments fail when tooling remains disconnected from economic outcomes. Here, AI touches revenue-facing surfaces (Disney+ engagement), cost structures (content variation and internal productivity), and long-term platform strategy. That alignment increases the likelihood that AI becomes part of standard planning cycles rather than discretionary innovation spend.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-automation-that-makes-scale-less-fragile\">Automation that makes scale less fragile</h3>\n\n\n\n<p>High-volume AI use amplifies small failures. Disney and OpenAI emphasise safeguards around IP, harmful content, and misuse, not as a values statement but as a scaling requirement.</p>\n\n\n\n<p>Strong automation around safety and rights management reduces the need for manual intervention and supports consistent enforcement. As with fraud detection or content moderation in other industries, this kind of operational AI does not attract attention when it works—but it makes growth less brittle.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-lessons-for-enterprise-leaders\">Lessons for enterprise leaders</h3>\n\n\n\n<ol class=\"wp-block-list\">\n<li><strong>Embed AI where work already happens.</strong> Disney targets product and employee workflows, not a separate AI sandbox.</li>\n\n\n\n<li><strong>Constrain before you scale.</strong> Defined asset sets and exclusions make deployment viable in high-liability environments.</li>\n\n\n\n<li><strong>Use APIs to reduce friction.</strong> Integration matters more than model novelty.</li>\n\n\n\n<li><strong>Tie AI to economics early.</strong> Productivity gains stick when they connect to revenue and cost structures.</li>\n\n\n\n<li><strong>Treat safety as infrastructure.</strong> Automation and controls are prerequisites for scale, not afterthoughts.</li>\n</ol>\n\n\n\n<p>Disney’s specific assets are unique. The operating pattern is not. Enterprise AI delivers value when it is designed as part of the organisation’s core machinery—governed, integrated, and measured—rather than as a showcase for what models can generate.</p>\n\n\n\n<p><em>(Photo by <a href=\"https://unsplash.com/@hmva24?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText\">Héctor Vásquez</a>)</em></p>\n\n\n\n<p><strong>See also: <a target=\"_blank\" href=\"https://www.artificialintelligence-news.com/news/openai-targets-ai-skills-gap-with-new-certification-standards/\" rel=\"noreferrer noopener\">OpenAI targets AI skills gap with new certification standards</a></strong></p>\n\n\n\n<p><strong>Want to learn more about AI and big data from industry leaders?</strong> Check out<a target=\"_blank\" href=\"https://www.ai-expo.net/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\"> AI &amp; Big Data Expo</a> taking place in Amsterdam, California, and London. The comprehensive event is part of <a target=\"_blank\" href=\"https://techexevent.com/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\">TechEx</a> and is co-located with other leading technology events, click<a target=\"_blank\" href=\"https://techexevent.com/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\"> here</a> for more information.</p>\n\n\n\n<p>AI News is powered by <a target=\"_blank\" href=\"https://techforge.pub/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\">TechForge Media</a>. Explore other upcoming enterprise technology events and webinars <a target=\"_blank\" href=\"https://techforge.pub/events/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\">here</a>.</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/why-disney-is-embedding-generative-ai-into-its-operating-model/\">Disney is embedding generative AI into its operating model</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "content:encodedSnippet": "For a company built on intellectual property, scale creates a familiar tension. Disney needs to produce and distribute content across many formats and audiences, while keeping tight control over rights, safety, and brand consistency. Generative AI promises speed and flexibility, but unmanaged use risks creating legal, creative, and operational drag.\nDisney’s agreement with OpenAI shows how a large, IP-heavy organisation is attempting to resolve that tension by putting AI inside its operating system rather than treating it as a side experiment.\nUnder the deal, Disney becomes both a licensing partner and a major enterprise customer. OpenAI’s video model Sora will be able to generate short, user-prompted videos using a defined set of Disney-owned characters and environments. Separately, Disney will use OpenAI’s APIs to build internal tools and new consumer experiences, including integrations tied to Disney+. The company will also deploy ChatGPT internally for employees.\nThe mechanics matter more than the spectacle. Disney is not opening its catalogue to unrestricted generation. The licence excludes actor likenesses and voices, limits which assets can be used, and applies safety and age-appropriate controls. In practice, this positions generative AI as a constrained production layer—capable of generating variation and volume, but bounded by governance.\nAI inside existing workflows\nA consistent failure mode in enterprise AI programmes is separation. Tools live outside the systems where work actually happens, adding steps instead of removing them. Disney’s approach mirrors a more pragmatic pattern: put AI where decisions are already made.\nOn the consumer side, AI-generated content will surface through Disney+, rather than through a standalone experiment. On the enterprise side, employees gain access to AI through APIs and a standardised assistant, rather than a patchwork of ad hoc tools. This reduces friction and makes AI usage observable and governable.\nThe implication is organisational. Disney is treating generative AI as a horizontal capability—closer to a platform service than a creative add-on. That framing makes it easier to scale usage across teams without multiplying risk.\nVariation without expanding headcount\nThe Sora licence focuses on short-form content derived from pre-approved assets. That constraint is deliberate. In production environments, much of the cost sits not in ideation but in generating usable variations, reviewing them, and moving them through distribution pipelines.\nBy allowing prompt-driven generation inside a defined asset set, Disney can reduce the marginal cost of experimentation and fan engagement without increasing manual production or review load. The output is not a finished film. It is a controlled input into marketing, social, and engagement workflows.\nThis mirrors a broader enterprise pattern: AI earns its place when it shortens the path from intent to usable output, not when it creates standalone artefacts.\nAPIs over point tools\nBeyond content generation, the agreement positions OpenAI’s models as building blocks. Disney plans to use APIs to develop new products and internal tools, rather than relying solely on off-the-shelf interfaces.\nThis matters because enterprise AI programmes often stall on integration. Teams waste time copying outputs between systems or adapting generic tools to fit internal processes. API-level access allows Disney to embed AI directly into product logic, employee workflows, and existing systems of record.\nIn effect, AI becomes part of the connective tissue between tools, not another layer employees must learn to work around.\nAligning productivity with incentives\nDisney’s $1 billion equity investment in OpenAI is less interesting as a valuation signal than as an operational one. It indicates an expectation that AI usage will be persistent and central, not optional or experimental.\nFor large organisations, AI investments fail when tooling remains disconnected from economic outcomes. Here, AI touches revenue-facing surfaces (Disney+ engagement), cost structures (content variation and internal productivity), and long-term platform strategy. That alignment increases the likelihood that AI becomes part of standard planning cycles rather than discretionary innovation spend.\nAutomation that makes scale less fragile\nHigh-volume AI use amplifies small failures. Disney and OpenAI emphasise safeguards around IP, harmful content, and misuse, not as a values statement but as a scaling requirement.\nStrong automation around safety and rights management reduces the need for manual intervention and supports consistent enforcement. As with fraud detection or content moderation in other industries, this kind of operational AI does not attract attention when it works—but it makes growth less brittle.\nLessons for enterprise leaders\nEmbed AI where work already happens. Disney targets product and employee workflows, not a separate AI sandbox.\nConstrain before you scale. Defined asset sets and exclusions make deployment viable in high-liability environments.\nUse APIs to reduce friction. Integration matters more than model novelty.\nTie AI to economics early. Productivity gains stick when they connect to revenue and cost structures.\nTreat safety as infrastructure. Automation and controls are prerequisites for scale, not afterthoughts.\nDisney’s specific assets are unique. The operating pattern is not. Enterprise AI delivers value when it is designed as part of the organisation’s core machinery—governed, integrated, and measured—rather than as a showcase for what models can generate.\n(Photo by Héctor Vásquez)\nSee also: OpenAI targets AI skills gap with new certification standards\nWant to learn more about AI and big data from industry leaders? Check out AI & Big Data Expo taking place in Amsterdam, California, and London. The comprehensive event is part of TechEx and is co-located with other leading technology events, click here for more information.\nAI News is powered by TechForge Media. Explore other upcoming enterprise technology events and webinars here.\nThe post Disney is embedding generative AI into its operating model appeared first on AI News.",
          "dc:creator": "Muhammad Zulhusni",
          "content": "<p>For a company built on intellectual property, scale creates a familiar tension. Disney needs to produce and distribute content across many formats and audiences, while keeping tight control over rights, safety, and brand consistency. Generative AI promises speed and flexibility, but unmanaged use risks creating legal, creative, and operational drag. Disney’s agreement with OpenAI shows [&#8230;]</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/why-disney-is-embedding-generative-ai-into-its-operating-model/\">Disney is embedding generative AI into its operating model</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "contentSnippet": "For a company built on intellectual property, scale creates a familiar tension. Disney needs to produce and distribute content across many formats and audiences, while keeping tight control over rights, safety, and brand consistency. Generative AI promises speed and flexibility, but unmanaged use risks creating legal, creative, and operational drag. Disney’s agreement with OpenAI shows […]\nThe post Disney is embedding generative AI into its operating model appeared first on AI News.",
          "guid": "https://www.artificialintelligence-news.com/?p=111422",
          "categories": [
            "AI Business Strategy",
            "Creative Industries",
            "Deep Dives",
            "Entertainment & Media",
            "ai",
            "business",
            "creative industries",
            "enterprise",
            "generative ai",
            "openai"
          ],
          "isoDate": "2025-12-24T10:00:00.000Z"
        }
      },
      {
        "json": {
          "creator": "AI News",
          "title": "Arm and the future of AI at the edge",
          "link": "https://www.artificialintelligence-news.com/news/arm-chips-and-the-future-of-ai-at-the-edge/",
          "pubDate": "Tue, 23 Dec 2025 13:45:19 +0000",
          "content:encoded": "\n<p>Arm Holdings has positioned itself at the centre of AI transformation. In a wide-ranging <a href=\"https://newsroom.arm.com/podcasts/the-policy-implications-of-the-ai-systems-era\">podcast interview</a>, Vince Jesaitis, head of global government affairs at Arm, offered enterprise decision-makers look into the company&#8217;s international strategy, the evolution of AI as the company sees it, and what lies ahead for the industry.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-from-cloud-to-edge\">From cloud to edge</h3>\n\n\n\n<p>Arm thinks the AI market is about to enter a new phase, moving from cloud-based processing to edge computing. While much of the media&#8217;s attention has been focused to date on massive data centres, with models trained in and accessed from the cloud, Jesaitis said that most AI compute, especially inference tasks, is likely to be increasingly decentralised.</p>\n\n\n\n<p>&#8220;The next &#8216;aha&#8217; moment in AI is when local AI processing is being done on devices you couldn’t have imagined before,&#8221; Jesaitis said. These devices range from smartphones and earbuds to cars and industrial sensors. Arm&#8217;s IP is already embedded, literally, in these devices – it&#8217;s a company that only in the last year has been the IP behind over 30 billion chips, placed in devices of every conceivable description, all over the world.</p>\n\n\n\n<p>The deployment of AI in edge environments has several benefits, with team at Arm citing three main &#8216;wins&#8217;. Firstly, the inherent efficiency of low-power Arm chips means that power bills for running compute and cooling are lower. That keeps the environmental footprint of the technology as small as possible.</p>\n\n\n\n<p>Secondly, putting AI in local settings means latency is much lower (with latency determined by the distance between local operations and the site of the AI model). Arm points to uses like instant translation, dynamic scheduling of control systems, and features like the near-immediate triggering of safety functions – for instance in IIoT settings.</p>\n\n\n\n<p>Thirdly, &#8216;keeping it local&#8217; means there&#8217;s no potentially sensitive data sent off-premise. The benefits are obvious for any organisation in highly-regulated industries, but the increasing number of data breaches means even companies operating with relatively benign data sets are looking to reduce their attack surface.</p>\n\n\n\n<p>Arm silicon, optimised for power-constrained devices, makes it well-suited for compute where it&#8217;s needed on the ground, the company says. The future may well be one where AI is found woven throughout environments, not centralised in a data centre run by one of the large providers.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-arm-and-global-governments\">Arm and global governments</h3>\n\n\n\n<p>Arm is actively engaged with global policymakers, considering this level of engagement an important part of its role. Governments continue to compete to attract semiconductor investment, the issues of supply chain and concentrated dependencies still fresh in many policymakers&#8217; memories from the time of the COVID epidemic.</p>\n\n\n\n<p>Arm lobbies for workforce development, working at present with policy-makers in the White House on an education coalition to build an &#8216;AI-ready workforce&#8217;. Domestic independence in technology relies as much on the abilities of workforce as it does on the availability of hardware.</p>\n\n\n\n<p>Jesaitis noted a divergence between regulatory environments: the US prioritises what the government there terms acceleration and innovation, while the EU leads on safety, privacy, security and legally-enforced standards of practice. Arm aims to find the middle ground between these approaches, building products that meet stringent global compliance needs, yet furthering advances in the AI industry.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-the-enterprise-case-for-edge-ai\">The enterprise case for edge AI</h3>\n\n\n\n<p>The case for integrating Arm&#8217;s edge-focused AI architecture into enterprise transformation strategies can be persuasive. The company stresses its ability to offer scale-able AI without the need to centralise to the cloud, and is also pushing its investment in hardware-level security. That means issues like memory exploits (outside of the control of users plugged into centralised AI models) can be avoided.</p>\n\n\n\n<p>Of course, sectors already highly-regulated in terms of data practices are unlikely to experience relaxed governance in the future – the opposite is pretty much inevitable. All industries will be seeing more regulation and greater penalties for non-compliance in the years to come. However, to balance that, there are significant competitive advantages available to those that can demonstrate their systems&#8217; inherent safety and security. It&#8217;s into this regulatory landscape that Arm sees itself and local, edge AI fitting.</p>\n\n\n\n<p>Additionally, in Europe and Scandinavia, ESG goals are going to be increasingly important. Here, the power-sipping nature of Arm chips offers big advantages. That&#8217;s a trend that even the US hyperscalers are responding to: AWS&#8217;s latest SHALAR range of low-cost, low-power Arm-based platforms is there to satisfy that exact demand.</p>\n\n\n\n<p>Arm&#8217;s collaboration with cloud hyperscalers such as AWS and Microsoft produces chips that combine efficiency with the necessary horsepower for AI applications, the company says.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-what-s-next-from-arm-and-the-industry\">What&#8217;s next from Arm and the industry</h3>\n\n\n\n<p>Jesaitis pointed out several trends that enterprises may be seeing in the next 12 to 18 months. Global AI exports, particularly from the US and Middle East, are ensuring that local demand for AI can be satisfied by the big providers. Arm is a company that can supply both big providers in these contexts (as part of their portfolios of offerings) and satisfy the rising demand for edge-based AI.</p>\n\n\n\n<p>Jesaitis also sees edge AI as something of the hero of sustainability in an industry increasingly under fire for its ecological impact. Because Arm technology&#8217;s biggest market has been in low-power compute for mobile, it&#8217;s inherently &#8216;greener&#8217;. As enterprises hope to meet energy goals without sacrificing compute, Arm offers a way that combines performance with responsibility.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-redefining-smart\">Redefining &#8220;smart&#8221;</h3>\n\n\n\n<p>Arm&#8217;s vision of AI at the edge means computers and the software running on them can be context-aware, cheap to run, secure by design, and – thanks to near-zero network latency – highly-responsive. Jesaitis said, &#8220;We used to call things &#8216;smart&#8217; because they were online. Now, they&#8217;re going to be truly intelligent.&#8221;</p>\n\n\n\n<p><em>(Image source: &#8220;Factory Floor&#8221; by danielfoster437 is licensed under CC BY-NC-SA 2.0.)</em></p>\n\n\n\n<p>&nbsp;</p>\n\n\n\n<figure class=\"wp-block-image\"><a href=\"https://www.ai-expo.net/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\"><img decoding=\"async\" src=\"https://www.artificialintelligence-news.com/wp-content/uploads/2025/08/ai-expo-banner-2025.png\" alt=\"\"/></a></figure>\n\n\n\n<p></p>\n\n\n\n<p><strong>Want to learn more about AI and big data from industry leaders?</strong> Check out <a href=\"https://www.ai-expo.net/\">AI &amp; Big Data Expo</a> taking place in Amsterdam, California, and London. The comprehensive event is part of <a href=\"https://techexevent.com/\">TechEx</a> and co-located with other leading technology events. Click <a href=\"https://techexevent.com/\">here</a> for more information.</p>\n\n\n\n<p>AI News is powered by <a href=\"https://techforge.pub/\">TechForge Media</a>. Explore other upcoming enterprise technology events and webinars <a href=\"https://techforge.pub/events/\">here</a>.</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/arm-chips-and-the-future-of-ai-at-the-edge/\">Arm and the future of AI at the edge</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "content:encodedSnippet": "Arm Holdings has positioned itself at the centre of AI transformation. In a wide-ranging podcast interview, Vince Jesaitis, head of global government affairs at Arm, offered enterprise decision-makers look into the company’s international strategy, the evolution of AI as the company sees it, and what lies ahead for the industry.\nFrom cloud to edge\nArm thinks the AI market is about to enter a new phase, moving from cloud-based processing to edge computing. While much of the media’s attention has been focused to date on massive data centres, with models trained in and accessed from the cloud, Jesaitis said that most AI compute, especially inference tasks, is likely to be increasingly decentralised.\n“The next ‘aha’ moment in AI is when local AI processing is being done on devices you couldn’t have imagined before,” Jesaitis said. These devices range from smartphones and earbuds to cars and industrial sensors. Arm’s IP is already embedded, literally, in these devices – it’s a company that only in the last year has been the IP behind over 30 billion chips, placed in devices of every conceivable description, all over the world.\nThe deployment of AI in edge environments has several benefits, with team at Arm citing three main ‘wins’. Firstly, the inherent efficiency of low-power Arm chips means that power bills for running compute and cooling are lower. That keeps the environmental footprint of the technology as small as possible.\nSecondly, putting AI in local settings means latency is much lower (with latency determined by the distance between local operations and the site of the AI model). Arm points to uses like instant translation, dynamic scheduling of control systems, and features like the near-immediate triggering of safety functions – for instance in IIoT settings.\nThirdly, ‘keeping it local’ means there’s no potentially sensitive data sent off-premise. The benefits are obvious for any organisation in highly-regulated industries, but the increasing number of data breaches means even companies operating with relatively benign data sets are looking to reduce their attack surface.\nArm silicon, optimised for power-constrained devices, makes it well-suited for compute where it’s needed on the ground, the company says. The future may well be one where AI is found woven throughout environments, not centralised in a data centre run by one of the large providers.\nArm and global governments\nArm is actively engaged with global policymakers, considering this level of engagement an important part of its role. Governments continue to compete to attract semiconductor investment, the issues of supply chain and concentrated dependencies still fresh in many policymakers’ memories from the time of the COVID epidemic.\nArm lobbies for workforce development, working at present with policy-makers in the White House on an education coalition to build an ‘AI-ready workforce’. Domestic independence in technology relies as much on the abilities of workforce as it does on the availability of hardware.\nJesaitis noted a divergence between regulatory environments: the US prioritises what the government there terms acceleration and innovation, while the EU leads on safety, privacy, security and legally-enforced standards of practice. Arm aims to find the middle ground between these approaches, building products that meet stringent global compliance needs, yet furthering advances in the AI industry.\nThe enterprise case for edge AI\nThe case for integrating Arm’s edge-focused AI architecture into enterprise transformation strategies can be persuasive. The company stresses its ability to offer scale-able AI without the need to centralise to the cloud, and is also pushing its investment in hardware-level security. That means issues like memory exploits (outside of the control of users plugged into centralised AI models) can be avoided.\nOf course, sectors already highly-regulated in terms of data practices are unlikely to experience relaxed governance in the future – the opposite is pretty much inevitable. All industries will be seeing more regulation and greater penalties for non-compliance in the years to come. However, to balance that, there are significant competitive advantages available to those that can demonstrate their systems’ inherent safety and security. It’s into this regulatory landscape that Arm sees itself and local, edge AI fitting.\nAdditionally, in Europe and Scandinavia, ESG goals are going to be increasingly important. Here, the power-sipping nature of Arm chips offers big advantages. That’s a trend that even the US hyperscalers are responding to: AWS’s latest SHALAR range of low-cost, low-power Arm-based platforms is there to satisfy that exact demand.\nArm’s collaboration with cloud hyperscalers such as AWS and Microsoft produces chips that combine efficiency with the necessary horsepower for AI applications, the company says.\nWhat’s next from Arm and the industry\nJesaitis pointed out several trends that enterprises may be seeing in the next 12 to 18 months. Global AI exports, particularly from the US and Middle East, are ensuring that local demand for AI can be satisfied by the big providers. Arm is a company that can supply both big providers in these contexts (as part of their portfolios of offerings) and satisfy the rising demand for edge-based AI.\nJesaitis also sees edge AI as something of the hero of sustainability in an industry increasingly under fire for its ecological impact. Because Arm technology’s biggest market has been in low-power compute for mobile, it’s inherently ‘greener’. As enterprises hope to meet energy goals without sacrificing compute, Arm offers a way that combines performance with responsibility.\nRedefining “smart”\nArm’s vision of AI at the edge means computers and the software running on them can be context-aware, cheap to run, secure by design, and – thanks to near-zero network latency – highly-responsive. Jesaitis said, “We used to call things ‘smart’ because they were online. Now, they’re going to be truly intelligent.”\n(Image source: “Factory Floor” by danielfoster437 is licensed under CC BY-NC-SA 2.0.)\n \n\n\n\n\n\nWant to learn more about AI and big data from industry leaders? Check out AI & Big Data Expo taking place in Amsterdam, California, and London. The comprehensive event is part of TechEx and co-located with other leading technology events. Click here for more information.\nAI News is powered by TechForge Media. Explore other upcoming enterprise technology events and webinars here.\nThe post Arm and the future of AI at the edge appeared first on AI News.",
          "dc:creator": "AI News",
          "content": "<p>Arm Holdings has positioned itself at the centre of AI transformation. In a wide-ranging podcast interview, Vince Jesaitis, head of global government affairs at Arm, offered enterprise decision-makers look into the company&#8217;s international strategy, the evolution of AI as the company sees it, and what lies ahead for the industry. From cloud to edge Arm [&#8230;]</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/arm-chips-and-the-future-of-ai-at-the-edge/\">Arm and the future of AI at the edge</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "contentSnippet": "Arm Holdings has positioned itself at the centre of AI transformation. In a wide-ranging podcast interview, Vince Jesaitis, head of global government affairs at Arm, offered enterprise decision-makers look into the company’s international strategy, the evolution of AI as the company sees it, and what lies ahead for the industry. From cloud to edge Arm […]\nThe post Arm and the future of AI at the edge appeared first on AI News.",
          "guid": "https://www.artificialintelligence-news.com/?p=111417",
          "categories": [
            "AI Hardware & Chips",
            "Environment & Sustainability",
            "Manufacturing & Engineering AI",
            "Retail & Logistics AI",
            "Service Industry AI",
            "Utilities",
            "arm",
            "edge ai",
            "iiot",
            "iot",
            "low-power ai"
          ],
          "isoDate": "2025-12-23T13:45:19.000Z"
        }
      },
      {
        "json": {
          "creator": "Muhammad Zulhusni",
          "title": "Inside China’s push to apply AI across its energy system",
          "link": "https://www.artificialintelligence-news.com/news/inside-chinas-push-to-apply-ai-across-its-energy-system/",
          "pubDate": "Tue, 23 Dec 2025 10:00:00 +0000",
          "content:encoded": "\n<p>Under China’s push to clean up its energy system, AI is starting to shape how power is produced, moved, and used — not in abstract policy terms, but in day-to-day operations.</p>\n\n\n\n<p>In Chifeng, a city in northern China, a renewable-powered factory offers a clear example. The site produces hydrogen and ammonia using electricity generated entirely from nearby wind and solar farms. Unlike traditional plants connected to the wider grid, this facility runs on its own closed system. That setup brings a problem as well as a benefit: renewable power is clean, but it rises and falls with the weather.</p>\n\n\n\n<p>To keep production stable, the factory relies on an AI-driven control system built by its owner, Envision. Rather than following fixed schedules, the software continuously adjusts output based on changes in wind and sunlight. As reported by <em>Reuters</em>, Zhang Jian, Envision’s chief engineer for hydrogen energy, compared the system to a conductor, coordinating electricity supply and industrial demand in real time.</p>\n\n\n\n<p>When wind speeds increase, production ramps up automatically to take full advantage of the available power. When conditions weaken, electricity use is quickly reduced to avoid strain. Zhang said the system allows the plant to operate at high efficiency despite the volatility of renewable energy.</p>\n\n\n\n<p>Projects like this are central to China’s plans for hydrogen and ammonia, fuels seen as important for cutting emissions in sectors such as steelmaking and shipping. They also point to a broader strategy: using AI to manage complexity as the country adds more renewable power to its grid.</p>\n\n\n\n<p>Researchers argue that AI could play a significant role in meeting China’s climate goals. Zheng Saina, an associate professor at Southeast University in Nanjing who studies low-carbon transitions, said AI can support tasks ranging from emissions tracking to forecasting electricity supply and demand. At the same time, she cautioned that AI itself is driving rapid growth in power consumption, particularly through energy-hungry data centres.</p>\n\n\n\n<p>China now installs more wind and solar capacity than any other country, but absorbing that power efficiently remains a challenge. According to Cory Combs, associate director at Beijing-based research firm Trivium China, AI is increasingly seen as a way to make the grid more flexible and responsive.</p>\n\n\n\n<p>That thinking was formalised in September, when Beijing introduced an “AI+ energy” strategy. The plan calls for deeper links between AI systems and the energy sector, including the development of multiple large AI models focused on grid operations, power generation, and industrial use. By 2027, the government aims to roll out dozens of pilot projects and test AI across more than 100 use cases. Within another three years, officials want China to reach what they describe as a world-leading level of AI integration in energy.</p>\n\n\n\n<p>Combs said the focus is on highly specialised tools designed for specific jobs, such as managing wind farms, nuclear plants, or grid balancing, rather than general-purpose AI. This approach contrasts with the United States, where much of the investment has gone into building advanced large-language models, according to Hu Guangzhou, a professor at the China Europe International Business School in Shanghai.</p>\n\n\n\n<p>One area where AI could have immediate impact is demand forecasting. Fang Lurui, an assistant professor at Xi’an Jiaotong-Liverpool University, said power grids must match supply and demand at every moment to avoid outages. Accurate forecasts of renewable output and electricity use allow operators to plan ahead, storing energy in batteries when needed and reducing reliance on coal-fired backup plants.</p>\n\n\n\n<p>Some cities are already experimenting. Shanghai has launched a citywide virtual power plant that links dozens of operators — including data centres, building systems, and electric vehicle chargers — into a single coordinated network. During a trial last August, the system reduced peak demand by more than 160 megawatts, roughly equivalent to the output of a small coal plant.</p>\n\n\n\n<p>Combs said such systems matter because modern power generation is increasingly scattered and intermittent. “You need something very robust that is able to be predictive and account for new information very quickly,” he said.</p>\n\n\n\n<p>Beyond the grid, China is also looking to apply AI to its national carbon market, which covers more than 3,000 companies in emissions-heavy industries such as power, steel, cement, and aluminium. These sectors together produce over 60% of the country’s carbon emissions. Chen Zhibin, a senior manager at Berlin-based think tank adelphi, said AI could help regulators verify emissions data, refine the allocation of free allowances, and give companies clearer insight into their production costs.</p>\n\n\n\n<p>Still, the risks are growing alongside the opportunities. Studies suggest that by 2030, China’s AI data centres could consume more than 1,000 terawatt-hours of electricity each year — roughly the same as Japan’s current annual usage. Lifecycle emissions from the AI sector are projected to rise sharply and peak well after China’s 2030 emissions target.</p>\n\n\n\n<p>Xiong Qiyang, a doctoral researcher at Renmin University of China who worked on one such study, said the results reflect the reality that coal still dominates China’s power mix. He warned that rapid AI expansion could complicate national climate goals if energy sources do not shift quickly enough.</p>\n\n\n\n<p>In response, regulators have begun tightening rules. A 2024 action plan requires data centres to improve energy efficiency and increase their use of renewable power by 10% each year. Other initiatives encourage new facilities to be built in western regions, where wind and solar resources are more abundant.</p>\n\n\n\n<p>Operators on the east coast are also testing new ideas. Near Shanghai, an underwater data centre is set to open, using seawater for cooling to cut energy and water use. The developer, Hailanyun, said the facility will draw most of its power from an offshore wind farm and could be replicated if the project proves viable.</p>\n\n\n\n<p>Despite the growing energy demands of AI, Xiong argued that its overall impact on emissions could still be positive if applied carefully. Used to optimise heavy industry, power systems, and carbon markets, he said, AI may remain an essential part of China’s effort to cut emissions — even as it creates new pressures that policymakers must manage.</p>\n\n\n\n<p><em>(Photo by <a href=\"https://unsplash.com/@matthewhenry?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText\">Matthew Henry</a>)</em></p>\n\n\n\n<p><strong>See also: <a href=\"https://www.artificialintelligence-news.com/news/china-chip-stacking-strategy-nvidia/\">Can China’s chip stacking strategy really challenge Nvidia’s AI dominance?</a></strong></p>\n\n\n\n<p><strong>Want to learn more about AI and big data from industry leaders?</strong> Check out<a target=\"_blank\" href=\"https://www.ai-expo.net/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\"> AI &amp; Big Data Expo</a> taking place in Amsterdam, California, and London. The comprehensive event is part of <a target=\"_blank\" href=\"https://techexevent.com/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\">TechEx</a> and is co-located with other leading technology events, click<a target=\"_blank\" href=\"https://techexevent.com/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\"> here</a> for more information.</p>\n\n\n\n<p>AI News is powered by <a target=\"_blank\" href=\"https://techforge.pub/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\">TechForge Media</a>. Explore other upcoming enterprise technology events and webinars <a target=\"_blank\" href=\"https://techforge.pub/events/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\">here</a>.</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/inside-chinas-push-to-apply-ai-across-its-energy-system/\">Inside China’s push to apply AI across its energy system</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "content:encodedSnippet": "Under China’s push to clean up its energy system, AI is starting to shape how power is produced, moved, and used — not in abstract policy terms, but in day-to-day operations.\nIn Chifeng, a city in northern China, a renewable-powered factory offers a clear example. The site produces hydrogen and ammonia using electricity generated entirely from nearby wind and solar farms. Unlike traditional plants connected to the wider grid, this facility runs on its own closed system. That setup brings a problem as well as a benefit: renewable power is clean, but it rises and falls with the weather.\nTo keep production stable, the factory relies on an AI-driven control system built by its owner, Envision. Rather than following fixed schedules, the software continuously adjusts output based on changes in wind and sunlight. As reported by Reuters, Zhang Jian, Envision’s chief engineer for hydrogen energy, compared the system to a conductor, coordinating electricity supply and industrial demand in real time.\nWhen wind speeds increase, production ramps up automatically to take full advantage of the available power. When conditions weaken, electricity use is quickly reduced to avoid strain. Zhang said the system allows the plant to operate at high efficiency despite the volatility of renewable energy.\nProjects like this are central to China’s plans for hydrogen and ammonia, fuels seen as important for cutting emissions in sectors such as steelmaking and shipping. They also point to a broader strategy: using AI to manage complexity as the country adds more renewable power to its grid.\nResearchers argue that AI could play a significant role in meeting China’s climate goals. Zheng Saina, an associate professor at Southeast University in Nanjing who studies low-carbon transitions, said AI can support tasks ranging from emissions tracking to forecasting electricity supply and demand. At the same time, she cautioned that AI itself is driving rapid growth in power consumption, particularly through energy-hungry data centres.\nChina now installs more wind and solar capacity than any other country, but absorbing that power efficiently remains a challenge. According to Cory Combs, associate director at Beijing-based research firm Trivium China, AI is increasingly seen as a way to make the grid more flexible and responsive.\nThat thinking was formalised in September, when Beijing introduced an “AI+ energy” strategy. The plan calls for deeper links between AI systems and the energy sector, including the development of multiple large AI models focused on grid operations, power generation, and industrial use. By 2027, the government aims to roll out dozens of pilot projects and test AI across more than 100 use cases. Within another three years, officials want China to reach what they describe as a world-leading level of AI integration in energy.\nCombs said the focus is on highly specialised tools designed for specific jobs, such as managing wind farms, nuclear plants, or grid balancing, rather than general-purpose AI. This approach contrasts with the United States, where much of the investment has gone into building advanced large-language models, according to Hu Guangzhou, a professor at the China Europe International Business School in Shanghai.\nOne area where AI could have immediate impact is demand forecasting. Fang Lurui, an assistant professor at Xi’an Jiaotong-Liverpool University, said power grids must match supply and demand at every moment to avoid outages. Accurate forecasts of renewable output and electricity use allow operators to plan ahead, storing energy in batteries when needed and reducing reliance on coal-fired backup plants.\nSome cities are already experimenting. Shanghai has launched a citywide virtual power plant that links dozens of operators — including data centres, building systems, and electric vehicle chargers — into a single coordinated network. During a trial last August, the system reduced peak demand by more than 160 megawatts, roughly equivalent to the output of a small coal plant.\nCombs said such systems matter because modern power generation is increasingly scattered and intermittent. “You need something very robust that is able to be predictive and account for new information very quickly,” he said.\nBeyond the grid, China is also looking to apply AI to its national carbon market, which covers more than 3,000 companies in emissions-heavy industries such as power, steel, cement, and aluminium. These sectors together produce over 60% of the country’s carbon emissions. Chen Zhibin, a senior manager at Berlin-based think tank adelphi, said AI could help regulators verify emissions data, refine the allocation of free allowances, and give companies clearer insight into their production costs.\nStill, the risks are growing alongside the opportunities. Studies suggest that by 2030, China’s AI data centres could consume more than 1,000 terawatt-hours of electricity each year — roughly the same as Japan’s current annual usage. Lifecycle emissions from the AI sector are projected to rise sharply and peak well after China’s 2030 emissions target.\nXiong Qiyang, a doctoral researcher at Renmin University of China who worked on one such study, said the results reflect the reality that coal still dominates China’s power mix. He warned that rapid AI expansion could complicate national climate goals if energy sources do not shift quickly enough.\nIn response, regulators have begun tightening rules. A 2024 action plan requires data centres to improve energy efficiency and increase their use of renewable power by 10% each year. Other initiatives encourage new facilities to be built in western regions, where wind and solar resources are more abundant.\nOperators on the east coast are also testing new ideas. Near Shanghai, an underwater data centre is set to open, using seawater for cooling to cut energy and water use. The developer, Hailanyun, said the facility will draw most of its power from an offshore wind farm and could be replicated if the project proves viable.\nDespite the growing energy demands of AI, Xiong argued that its overall impact on emissions could still be positive if applied carefully. Used to optimise heavy industry, power systems, and carbon markets, he said, AI may remain an essential part of China’s effort to cut emissions — even as it creates new pressures that policymakers must manage.\n(Photo by Matthew Henry)\nSee also: Can China’s chip stacking strategy really challenge Nvidia’s AI dominance?\nWant to learn more about AI and big data from industry leaders? Check out AI & Big Data Expo taking place in Amsterdam, California, and London. The comprehensive event is part of TechEx and is co-located with other leading technology events, click here for more information.\nAI News is powered by TechForge Media. Explore other upcoming enterprise technology events and webinars here.\nThe post Inside China’s push to apply AI across its energy system appeared first on AI News.",
          "dc:creator": "Muhammad Zulhusni",
          "content": "<p>Under China’s push to clean up its energy system, AI is starting to shape how power is produced, moved, and used — not in abstract policy terms, but in day-to-day operations. In Chifeng, a city in northern China, a renewable-powered factory offers a clear example. The site produces hydrogen and ammonia using electricity generated entirely [&#8230;]</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/inside-chinas-push-to-apply-ai-across-its-energy-system/\">Inside China’s push to apply AI across its energy system</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "contentSnippet": "Under China’s push to clean up its energy system, AI is starting to shape how power is produced, moved, and used — not in abstract policy terms, but in day-to-day operations. In Chifeng, a city in northern China, a renewable-powered factory offers a clear example. The site produces hydrogen and ammonia using electricity generated entirely […]\nThe post Inside China’s push to apply AI across its energy system appeared first on AI News.",
          "guid": "https://www.artificialintelligence-news.com/?p=111413",
          "categories": [
            "AI Business Strategy",
            "Deep Dives",
            "Environment & Sustainability",
            "Governance, Regulation & Policy",
            "Government & Public Sector AI",
            "Manufacturing & Engineering AI",
            "Utilities",
            "energy",
            "environment",
            "governance",
            "manufacturing"
          ],
          "isoDate": "2025-12-23T10:00:00.000Z"
        }
      },
      {
        "json": {
          "creator": "Muhammad Zulhusni",
          "title": "Tesco signs three-year AI deal centred on customer experience",
          "link": "https://www.artificialintelligence-news.com/news/tesco-signs-three-year-ai-deal-centred-on-customer-experience/",
          "pubDate": "Mon, 22 Dec 2025 10:00:00 +0000",
          "content:encoded": "<p>For large retailers, the challenge with AI isn&#8217;t whether it can be useful, but how it fits into everyday work. A new three-year AI partnership by Tesco points to how one of the UK&#8217;s biggest supermarket groups is trying to achieve just that.</p>\n<p>Tesco plans to work with Mistral to develop AI tools that can be used in its business, from internal workflows to customer-facing systems. The aim, according to the retailer, is to save staff time, improve how teams work, and strengthen customer service. Ruben Lara Hernandez, Tesco&#8217;s Data, analytics &amp; AI director, said the partnership brings together Tesco&#8217;s retail experience with Mistral&#8217;s technology, with the hope that it will help colleagues work more efficiently and support customers more effectively.</p>\n<h3>Tesco moves AI into day-to-day retail operations</h3>\n<p>The company&#8217;s focus reflects a wider shift in how enterprises are using AI. Early retail experiments often centred on customer-facing tools that were easy to see but hard to scale. More recent efforts are aimed at internal use, where AI can reduce repetitive work, support planning, and help staff make decisions faster.</p>\n<p>Over the past five years, the retailer has doubled the size of its technology team, signalling that software and data are now core to how the business operates. AI is already used in several parts of the organisation, in in-house development and partnerships.</p>\n<p>In online grocery, AI helps find more efficient delivery routes, which can open up additional delivery slots for customers. In supply planning, AI supports demand forecasting, helping stores maintain product availability. The company also uses AI to personalise how it engages with customers through its Clubcard loyalty scheme, tailoring offers and communications based on shopping behaviour.</p>\n<p>The partnership with Mistral is meant to build on this existing work. One factor behind the collaboration is Mistral&#8217;s approach to model deployment, which allows AI systems to run in more controlled environments. For a retailer handling large volumes of customer and operational data, that level of control matters.</p>\n<p>Mistral&#8217;s chief revenue officer and US general manager, Marjorie Janiewicz, said the company&#8217;s Applied AI team will work closely with Tesco&#8217;s internal experts. She described the goal as building AI products that are customisable and controllable, with a focus on improving internal workflows and customer experience.</p>\n<h3>A long-term partnership, not a one-off project</h3>\n<p>The structure of the partnership also suggests a cautious approach to scale. Tesco plans to create an internal AI lab as part of the agreement, giving teams space to test and refine tools before wider deployment. For large organisations, this kind of setup can help prevent AI projects from remaining stuck in isolated pilots or specialist teams.</p>\n<p>There is also a strategic angle to the choice of partner. Mistral AI is the only European company developing large language models, and Tesco is the first major UK retailer to form a partnership with the startup as part of its broader AI and technology plans. Founded in April 2023, Mistral has grown quickly and counts enterprises like HSBC, AXA, and Stellantis among its customers.</p>\n<p>For Tesco, the harder work now lies in execution. Retail data is often fragmented in regions, systems, and channels, and AI systems depend on that data being accurate and consistent. Rolling tools out in a business of this size also requires training, oversight, and trust from staff who use them daily.</p>\n<p>Whether the partnership succeeds will likely depend on how visible its impact becomes inside the organisation. If AI tools help store teams, planners, and analysts work more smoothly, the gains may be gradual rather than dramatic.</p>\n<p>As retailers look to move beyond experimentation, Tesco&#8217;s approach offers a view of how enterprise AI is starting to settle into routine operations – not as a single solution, but as a steady process of change.</p>\n<p><em>(Photo by <a href=\"https://unsplash.com/@heyshashank\">Shashank Verma</a>)</em></p>\n<p><strong>See also: <a href=\"https://www.artificialintelligence-news.com/news/zara-use-of-ai-shows-how-retail-workflows-are-quietly-changing/\">Zara&#8217;s use of AI shows how retail workflows are quietly changing</a></strong></p>\n<p><strong>Want to learn more about AI and big data from industry leaders?</strong> Check out<a href=\"https://www.ai-expo.net/\"> AI &amp; Big Data Expo</a> taking place in Amsterdam, California, and London. The comprehensive event is part of <a href=\"https://techexevent.com/\">TechEx</a> and is co-located with other leading technology events, click<a href=\"https://techexevent.com/\"> here</a> for more information.</p>\n<p>AI News is powered by <a href=\"https://techforge.pub/\">TechForge Media</a>. Explore other upcoming enterprise technology events and webinars <a href=\"https://techforge.pub/events/\">here</a>.</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/tesco-signs-three-year-ai-deal-centred-on-customer-experience/\">Tesco signs three-year AI deal centred on customer experience</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "content:encodedSnippet": "For large retailers, the challenge with AI isn’t whether it can be useful, but how it fits into everyday work. A new three-year AI partnership by Tesco points to how one of the UK’s biggest supermarket groups is trying to achieve just that.\nTesco plans to work with Mistral to develop AI tools that can be used in its business, from internal workflows to customer-facing systems. The aim, according to the retailer, is to save staff time, improve how teams work, and strengthen customer service. Ruben Lara Hernandez, Tesco’s Data, analytics & AI director, said the partnership brings together Tesco’s retail experience with Mistral’s technology, with the hope that it will help colleagues work more efficiently and support customers more effectively.\nTesco moves AI into day-to-day retail operations\nThe company’s focus reflects a wider shift in how enterprises are using AI. Early retail experiments often centred on customer-facing tools that were easy to see but hard to scale. More recent efforts are aimed at internal use, where AI can reduce repetitive work, support planning, and help staff make decisions faster.\nOver the past five years, the retailer has doubled the size of its technology team, signalling that software and data are now core to how the business operates. AI is already used in several parts of the organisation, in in-house development and partnerships.\nIn online grocery, AI helps find more efficient delivery routes, which can open up additional delivery slots for customers. In supply planning, AI supports demand forecasting, helping stores maintain product availability. The company also uses AI to personalise how it engages with customers through its Clubcard loyalty scheme, tailoring offers and communications based on shopping behaviour.\nThe partnership with Mistral is meant to build on this existing work. One factor behind the collaboration is Mistral’s approach to model deployment, which allows AI systems to run in more controlled environments. For a retailer handling large volumes of customer and operational data, that level of control matters.\nMistral’s chief revenue officer and US general manager, Marjorie Janiewicz, said the company’s Applied AI team will work closely with Tesco’s internal experts. She described the goal as building AI products that are customisable and controllable, with a focus on improving internal workflows and customer experience.\nA long-term partnership, not a one-off project\nThe structure of the partnership also suggests a cautious approach to scale. Tesco plans to create an internal AI lab as part of the agreement, giving teams space to test and refine tools before wider deployment. For large organisations, this kind of setup can help prevent AI projects from remaining stuck in isolated pilots or specialist teams.\nThere is also a strategic angle to the choice of partner. Mistral AI is the only European company developing large language models, and Tesco is the first major UK retailer to form a partnership with the startup as part of its broader AI and technology plans. Founded in April 2023, Mistral has grown quickly and counts enterprises like HSBC, AXA, and Stellantis among its customers.\nFor Tesco, the harder work now lies in execution. Retail data is often fragmented in regions, systems, and channels, and AI systems depend on that data being accurate and consistent. Rolling tools out in a business of this size also requires training, oversight, and trust from staff who use them daily.\nWhether the partnership succeeds will likely depend on how visible its impact becomes inside the organisation. If AI tools help store teams, planners, and analysts work more smoothly, the gains may be gradual rather than dramatic.\nAs retailers look to move beyond experimentation, Tesco’s approach offers a view of how enterprise AI is starting to settle into routine operations – not as a single solution, but as a steady process of change.\n(Photo by Shashank Verma)\nSee also: Zara’s use of AI shows how retail workflows are quietly changing\nWant to learn more about AI and big data from industry leaders? Check out AI & Big Data Expo taking place in Amsterdam, California, and London. The comprehensive event is part of TechEx and is co-located with other leading technology events, click here for more information.\nAI News is powered by TechForge Media. Explore other upcoming enterprise technology events and webinars here.\nThe post Tesco signs three-year AI deal centred on customer experience appeared first on AI News.",
          "dc:creator": "Muhammad Zulhusni",
          "content": "<p>For large retailers, the challenge with AI isn&#8217;t whether it can be useful, but how it fits into everyday work. A new three-year AI partnership by Tesco points to how one of the UK&#8217;s biggest supermarket groups is trying to achieve just that. Tesco plans to work with Mistral to develop AI tools that can [&#8230;]</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/tesco-signs-three-year-ai-deal-centred-on-customer-experience/\">Tesco signs three-year AI deal centred on customer experience</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "contentSnippet": "For large retailers, the challenge with AI isn’t whether it can be useful, but how it fits into everyday work. A new three-year AI partnership by Tesco points to how one of the UK’s biggest supermarket groups is trying to achieve just that. Tesco plans to work with Mistral to develop AI tools that can […]\nThe post Tesco signs three-year AI deal centred on customer experience appeared first on AI News.",
          "guid": "https://www.artificialintelligence-news.com/?p=111409",
          "categories": [
            "AI Business Strategy",
            "Retail & Logistics AI",
            "World of Work",
            "ai",
            "data",
            "data analysis",
            "retail",
            "tesco",
            "uk"
          ],
          "isoDate": "2025-12-22T10:00:00.000Z"
        }
      },
      {
        "json": {
          "creator": "AI News",
          "title": "Marketing agencies using AI in workflows serve more clients",
          "link": "https://www.artificialintelligence-news.com/news/marketing-agencies-ai-use-creates-faster-workflows-but-need-restructuring-internally/",
          "pubDate": "Fri, 19 Dec 2025 15:45:59 +0000",
          "content:encoded": "\n<p>Of all the many industries, it&#8217;s marketing where AI is no longer an &#8220;innovation lab&#8221; side project but embedded in briefs, production pipelines, approvals, and media optimisation. A WPP iQ post published in December, based on a webinar with WPP and Stability AI, shows what AI deployment in daily operations looks like.</p>\n\n\n\n<p>Here, we&#8217;re talking about a focus on the practical constraints that determine whether AI changes daily work or merely adds another layer of complexity or tooling.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"orgfa51753\">Brand accuracy a repeatable capability</h3>\n\n\n\n<p>Marketing agencies&#8217; AI treats brand accuracy as something to be engineered. WPP and Stability AI note that off-the-shelf models &#8220;don&#8217;t come trained on your brand&#8217;s visual identity&#8221;, so <a href=\"https://www.wpp.com/en-us/wpp-iq/2025/12/two-truths-and-a-lie-about-generative-ai\">outputs can often look generic</a>. The companies&#8217; remedy is fine-tuning, that is, training models on brand-specific datasets so the model learns the brand playbook, including style, look, and colours. Then, these elements can be reproduced consistently.</p>\n\n\n\n<p>WPP&#8217;s Argos is a prime example. After fine-tuning a model for the retailer, the team described how the model picked up details beyond the characters, including lighting and subtle shadows used in the brand&#8217;s 3D animations. Reproducing these finer details can be where time disappears in production, in the form of re-rendering and several rounds of approvals. When AI outputs start closer to &#8220;finished&#8221;, teams spend less time correcting and more time shaping narratives and adapting media for different channels.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"org50bf7b4\">Cycle time collapses (and calendars change)</h3>\n\n\n\n<p>WPP and Stability AI point out that traditional 3D animation can be too slow for reactive marketing. After all, cultural moments demand immediate content, not cycles defined in weeks or months. In its Argos case study, WPP trained custom models on two 3D toy characters so the models learned how they look and behave, including details such as proportions and how characters hold objects.</p>\n\n\n\n<p>The outcome was &#8220;high-quality images…generated in minutes instead of months&#8221;.</p>\n\n\n\n<p>The accelerated workflow moves rather than removes production bottlenecks. If generating variations becomes fast, then review, compliance, rights management and distribution, become the constraints. Those issues were always there, but the speed and efficiency of AI in this context shows the difference between what&#8217;s possible, and systems that have become embedded and accepted into workflows. Agencies that want AI to change daily operations have to redesign the workflow around it, not just add the technology as a new tool.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"org99a38b4\">The &#8220;AI front end&#8221; becomes essential</h3>\n\n\n\n<p>WPP and Stability AI call out a &#8220;UI problem&#8221;, wherecreative teams lose time interfaces to common tools are &#8220;disconnected, complex and confusing&#8221;, forcing workarounds and constant asset movement between tools. Often, responses are bespoke, brand-specific front ends with complex workflows in the back end..</p>\n\n\n\n<p>WPP positions <a href=\"https://www.wpp.com/en/open\">WPP Open</a> as a platform that encodes WPP&#8217;s proprietary knowledge into &#8220;globally accessible AI agents&#8221;, which helps teams plan, produce, create media, and sell. Operational gains come from cleaner handoffs between tools, as work moves from briefs into production, assets into activation, and performance signals back into planning.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"org95bcb9c\">Self-serve capability changes agency operations</h3>\n\n\n\n<p>AI-powered marketing platforms are also becoming client-facing. Operationally, that pushes agencies to concentrate on the parts of the workflow their clients can&#8217;t self-serve easily, like designing the brand system, building fine-tunings, and ensuring governance is embedded.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"orgb3a32d8\">Governance moves from policy to workflow</h3>\n\n\n\n<p>For AI to be used daily, governance needs to be embedded where work happens. Dentsu describes building &#8220;walled gardens&#8221;, which are digital spaces where employees can prototype and develop AI-enabled solutions securely, and <a href=\"https://www.dentsu.com/global/en/blog/ai-intergation\">commercialise the best ideas</a>. This reduces the risk of sensitive data exposure and lets experiments move into production systems.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"org759ee80\">Planning and insight compress too</h3>\n\n\n\n<p>The operational impact is not limited to production. Publicis Sapient describes AI-powered content strategy and planning that &#8220;transforms months of research into minutes of insight&#8221; by combining large language models with <a href=\"https://www.publicissapient.com/content/dam/ps-reinvent/us/en/2025/08/sapient-ai/sapient-ai-solutions/sapient-ai-for-marketing/docs/AiforMarketingContentStrategyPlanningBrochure.pdf\">contextual knowledge and prompt libraries</a> [PDF]. Research and brief development compress work schedules, so more client work can happen and the agency has faster responses to shifting culture and platform algorithms.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"org1918f53\">What changes for people</h3>\n\n\n\n<p>Across these examples, the impact on marketing professionals is one of rebalancing and shifting job descriptions. Less time goes on mechanical drafting, resizing, and versioning, and more time goes on brand stewardship. New operational roles expand, with titles like– model trainer, workflow designer, and AI governance lead.</p>\n\n\n\n<p>AI makes the biggest operational difference when agencies use customised models, usable front ends that make adoption (especially by clients) frictionless, and integrated platforms that connect planning, production, and execution.</p>\n\n\n\n<p>The headline benefit is speed and scale, but the deeper change is that marketing delivery starts to resemble a software-enabled supply chain, standardised, flexible where it needs to be, and measurable.</p>\n\n\n<p><em>(Image source: &#8220;Solar Wind Workhorse Marks 20 Years of Science Discoveries&#8221; by NASA Goddard Photo and Video is licensed under CC BY 2.0.)</em></p>\n<p>&nbsp;</p>\n\n<a href=\"https://www.ai-expo.net/?utm_source=AI-News&#038;utm_medium=Footer-banner&#038;utm_campaign=world-series\"><img decoding=\"async\" src=\"https://www.artificialintelligence-news.com/wp-content/uploads/2025/08/ai-expo-banner-2025.png\"></a>\n\n<p><strong>Want to learn more about AI and big data from industry leaders?</strong> Check out <a href=\"https://www.ai-expo.net/\">AI &amp; Big Data Expo</a> taking place in Amsterdam, California, and London. The comprehensive event is part of <a href=\"https://techexevent.com/\">TechEx</a> and co-located with other leading technology events. Click <a href=\"https://techexevent.com/\">here</a> for more information.</p>\n\n<p>AI News is powered by <a href=\"https://techforge.pub/\">TechForge Media</a>. Explore other upcoming enterprise technology events and webinars <a href=\"https://techforge.pub/events/\">here</a>.</p><p>The post <a href=\"https://www.artificialintelligence-news.com/news/marketing-agencies-ai-use-creates-faster-workflows-but-need-restructuring-internally/\">Marketing agencies using AI in workflows serve more clients</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "content:encodedSnippet": "Of all the many industries, it’s marketing where AI is no longer an “innovation lab” side project but embedded in briefs, production pipelines, approvals, and media optimisation. A WPP iQ post published in December, based on a webinar with WPP and Stability AI, shows what AI deployment in daily operations looks like.\nHere, we’re talking about a focus on the practical constraints that determine whether AI changes daily work or merely adds another layer of complexity or tooling.\nBrand accuracy a repeatable capability\nMarketing agencies’ AI treats brand accuracy as something to be engineered. WPP and Stability AI note that off-the-shelf models “don’t come trained on your brand’s visual identity”, so outputs can often look generic. The companies’ remedy is fine-tuning, that is, training models on brand-specific datasets so the model learns the brand playbook, including style, look, and colours. Then, these elements can be reproduced consistently.\nWPP’s Argos is a prime example. After fine-tuning a model for the retailer, the team described how the model picked up details beyond the characters, including lighting and subtle shadows used in the brand’s 3D animations. Reproducing these finer details can be where time disappears in production, in the form of re-rendering and several rounds of approvals. When AI outputs start closer to “finished”, teams spend less time correcting and more time shaping narratives and adapting media for different channels.\nCycle time collapses (and calendars change)\nWPP and Stability AI point out that traditional 3D animation can be too slow for reactive marketing. After all, cultural moments demand immediate content, not cycles defined in weeks or months. In its Argos case study, WPP trained custom models on two 3D toy characters so the models learned how they look and behave, including details such as proportions and how characters hold objects.\nThe outcome was “high-quality images…generated in minutes instead of months”.\nThe accelerated workflow moves rather than removes production bottlenecks. If generating variations becomes fast, then review, compliance, rights management and distribution, become the constraints. Those issues were always there, but the speed and efficiency of AI in this context shows the difference between what’s possible, and systems that have become embedded and accepted into workflows. Agencies that want AI to change daily operations have to redesign the workflow around it, not just add the technology as a new tool.\nThe “AI front end” becomes essential\nWPP and Stability AI call out a “UI problem”, wherecreative teams lose time interfaces to common tools are “disconnected, complex and confusing”, forcing workarounds and constant asset movement between tools. Often, responses are bespoke, brand-specific front ends with complex workflows in the back end..\nWPP positions WPP Open as a platform that encodes WPP’s proprietary knowledge into “globally accessible AI agents”, which helps teams plan, produce, create media, and sell. Operational gains come from cleaner handoffs between tools, as work moves from briefs into production, assets into activation, and performance signals back into planning.\nSelf-serve capability changes agency operations\nAI-powered marketing platforms are also becoming client-facing. Operationally, that pushes agencies to concentrate on the parts of the workflow their clients can’t self-serve easily, like designing the brand system, building fine-tunings, and ensuring governance is embedded.\nGovernance moves from policy to workflow\nFor AI to be used daily, governance needs to be embedded where work happens. Dentsu describes building “walled gardens”, which are digital spaces where employees can prototype and develop AI-enabled solutions securely, and commercialise the best ideas. This reduces the risk of sensitive data exposure and lets experiments move into production systems.\nPlanning and insight compress too\nThe operational impact is not limited to production. Publicis Sapient describes AI-powered content strategy and planning that “transforms months of research into minutes of insight” by combining large language models with contextual knowledge and prompt libraries [PDF]. Research and brief development compress work schedules, so more client work can happen and the agency has faster responses to shifting culture and platform algorithms.\nWhat changes for people\nAcross these examples, the impact on marketing professionals is one of rebalancing and shifting job descriptions. Less time goes on mechanical drafting, resizing, and versioning, and more time goes on brand stewardship. New operational roles expand, with titles like– model trainer, workflow designer, and AI governance lead.\nAI makes the biggest operational difference when agencies use customised models, usable front ends that make adoption (especially by clients) frictionless, and integrated platforms that connect planning, production, and execution.\nThe headline benefit is speed and scale, but the deeper change is that marketing delivery starts to resemble a software-enabled supply chain, standardised, flexible where it needs to be, and measurable.\n(Image source: “Solar Wind Workhorse Marks 20 Years of Science Discoveries” by NASA Goddard Photo and Video is licensed under CC BY 2.0.)\n \n\n\nWant to learn more about AI and big data from industry leaders? Check out AI & Big Data Expo taking place in Amsterdam, California, and London. The comprehensive event is part of TechEx and co-located with other leading technology events. Click here for more information.\nAI News is powered by TechForge Media. Explore other upcoming enterprise technology events and webinars here.\nThe post Marketing agencies using AI in workflows serve more clients appeared first on AI News.",
          "dc:creator": "AI News",
          "content": "<p>Of all the many industries, it&#8217;s marketing where AI is no longer an &#8220;innovation lab&#8221; side project but embedded in briefs, production pipelines, approvals, and media optimisation. A WPP iQ post published in December, based on a webinar with WPP and Stability AI, shows what AI deployment in daily operations looks like. Here, we&#8217;re talking [&#8230;]</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/marketing-agencies-ai-use-creates-faster-workflows-but-need-restructuring-internally/\">Marketing agencies using AI in workflows serve more clients</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "contentSnippet": "Of all the many industries, it’s marketing where AI is no longer an “innovation lab” side project but embedded in briefs, production pipelines, approvals, and media optimisation. A WPP iQ post published in December, based on a webinar with WPP and Stability AI, shows what AI deployment in daily operations looks like. Here, we’re talking […]\nThe post Marketing agencies using AI in workflows serve more clients appeared first on AI News.",
          "guid": "https://www.artificialintelligence-news.com/?p=111405",
          "categories": [
            "AI Market Trends",
            "Creative Industries",
            "Marketing AI",
            "agency ai",
            "automation",
            "creative",
            "marketing",
            "workflows"
          ],
          "isoDate": "2025-12-19T15:45:59.000Z"
        }
      },
      {
        "json": {
          "creator": "AI News",
          "title": "50,000 Copilot licences for Indian service companies",
          "link": "https://www.artificialintelligence-news.com/news/service-provider-ai-implementations-india-enterprise-scale-copilot-rollouts/",
          "pubDate": "Fri, 19 Dec 2025 13:19:12 +0000",
          "content:encoded": "\n<p>Cognizant, Tata Consultancy Services, Infosys, and Wipro have announced plans to deploy more than 200,000 <a href=\"https://learn.microsoft.com/en-us/copilot/microsoft-365/microsoft-365-copilot-overview\">Microsoft Copilot</a> licenses in their enterprises – over 50,000 per company – in what Microsoft is calling a new benchmark for enterprise-scale adoption of generative AI.</p>\n\n\n\n<p>The companies involved are framing the move as the implementation of a <em>default tool</em> for hundreds of thousands of employees involved in consulting, delivery, operations, and software.</p>\n\n\n\n<p>The announcement, made in Bengaluru, December 11, was timed to coincide with Microsoft CEO Satya Nadella&#8217;s visit to India. There, and across the industrialised world, there&#8217;s been growing momentum for agentic AI – AI systems that do more than chat, executing multi-step work in business processes. The four firms want to be seen as AI advisors for clients, with extensive experience drawn from their internal rollouts of AI.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-why-enterprises-care-about-copilot\">Why enterprises care about Copilot</h3>\n\n\n\n<p>Readers will be familiar with Microsoft 365 Copilot, the AI assistant embedded in standard workplace tools Word, Excel, PowerPoint, Outlook, and Teams. It&#8217;s intended to help users draft, summarise, and analyse, turning natural-language queries into work-related outputs. Copilot combines large language models with Microsoft 365 apps and organisational data gained from Microsoft Graph, with the assistant working in the context of a user&#8217;s files, meetings, and messages. This ability is, of course, subject to access controls already in place and defined by the organisation.</p>\n\n\n\n<p>For large organisations, the <em>embedding</em> of AI into workflows is important. A firm shouldn&#8217;t have to rebuild its toolchain to experiment with AI, but rather start using AI in the software and documents its workforce already uses.</p>\n\n\n\n<p>The raft of benefits is practical and work-focused: faster documentation, quicker meeting follow-ups, faster draft proposals, better discovery of information from internal knowledge repositories, and, with agentic AI, the automation of repetitive tasks.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-from-copilots-to-frontier-firms-and-agents\">From Copilots to frontier firms and agents</h3>\n\n\n\n<p>Microsoft uses the term &#8220;<a href=\"https://news.microsoft.com/source/asia/2025/12/11/cognizant-infosys-tcs-and-wipro-emerge-as-frontier-firms-with-microsoft-deploying-copilot-and-agentic-ai-in-the-enterprise/\">Frontier Firms</a>&#8221; to describe organisations that are &#8220;human-led and agent-operated&#8221;; where employees work alongside AI assistants and specialised agents that take on work processes.</p>\n\n\n\n<p>The designation of &#8216;Frontier Firm&#8217; status aligns with Microsoft&#8217;s <a href=\"https://www.microsoft.com/en-us/microsoft-365/blog/2025/11/18/microsoft-ignite-2025-copilot-and-agents-built-to-power-the-frontier-firm/\">messaging at Microsoft Ignite 2025</a>, where the company described agents reinventing business processes and amplifying impact through human-agent teamwork.</p>\n\n\n\n<p>In very simple terms, the company&#8217;s pitch is to move from &#8220;AI helps you write&#8221; to &#8220;AI helps run workflows.&#8221;</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-why-it-services-firms-are-making-public-commitments\">Why IT services firms are making public commitments</h3>\n\n\n\n<p>There are two reasons why the four firms are rolling out the technology at such a large scale. First, to improve internal productivity. The <em>Times of India</em> <a href=\"https://timesofindia.indiatimes.com/technology/tech-news/cognizant-infosys-tcs-and-wipro-to-deploy-over-200000-microsoft-copilot-licenses/articleshow/125907459.cms\">reports the deployments</a> are intended to integrate Copilot into workflows in consulting, software development, operations and client delivery, with the aim of improved productivity.</p>\n\n\n\n<p>At large multinational companies, margins depend on delivery efficiency and knowledge reuse, so shaving minutes from everyday tasks for tens of thousands of workers produces meaningful gains.</p>\n\n\n\n<p>Second, client credibility. The consultancy companies serve global enterprises, including many Fortune 500 clients, which means their internal operating model can, and perhaps should, become their clients&#8217; playbooks.</p>\n\n\n\n<p>If consultancies can demonstrate mature governance, training, and measurable outcomes with Copilot at scale in their own operations, it strengthens their messaging, better able to sell similar transformations to potential and existing clients.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-hyperscalers-investment-in-india\">Hyperscalers&#8217; investment in India</h3>\n\n\n\n<p>The Copilot announcement came immediately after Microsoft said it would invest $17.5 billion in India between 2026-2029, money destined for cloud and AI infrastructure, skilling, and operations. The company describes this as its largest investment in Asia to date. <a href=\"https://apnews.com/article/e1d0f47dea566488236bdd2c9dd577ed\">Other major tech firms</a> are making parallels: <em>Reuters</em> <a href=\"https://www.reuters.com/business/retail-consumer/amazon-invest-over-35-billion-india-by-2030-expand-operations-boost-ai-2025-12-10/\">reported in December 2025</a> that Amazon/AWS planned to invest over $35 billion in India by 2030, expanding its operations and AI capabilities, for example.</p>\n\n\n\n<p>Together, such moves underscore India&#8217;s growing position as a massive enterprise market and strategic hub for AI talent and cloud infrastructure. For India&#8217;s IT services leaders, Copilot is being positioned as a way to stay ahead of the competitive curve and define &#8220;AI-first delivery.&#8221;</p>\n\n\n\n<p><em>(Image source: &#8220;Gobbling Indian view of Clinch River&#8221; by dmott9 is licensed under CC BY-ND 2.0.)</em></p>\n<p>&nbsp;</p>\n\n<a href=\"https://www.ai-expo.net/?utm_source=AI-News&#038;utm_medium=Footer-banner&#038;utm_campaign=world-series\"><img decoding=\"async\" src=\"https://www.artificialintelligence-news.com/wp-content/uploads/2025/08/ai-expo-banner-2025.png\"></a>\n\n<p><strong>Want to learn more about AI and big data from industry leaders?</strong> Check out <a href=\"https://www.ai-expo.net/\">AI &amp; Big Data Expo</a> taking place in Amsterdam, California, and London. The comprehensive event is part of <a href=\"https://techexevent.com/\">TechEx</a> and co-located with other leading technology events. Click <a href=\"https://techexevent.com/\">here</a> for more information.</p>\n\n<p>AI News is powered by <a href=\"https://techforge.pub/\">TechForge Media</a>. Explore other upcoming enterprise technology events and webinars <a href=\"https://techforge.pub/events/\">here</a>.</p><p>The post <a href=\"https://www.artificialintelligence-news.com/news/service-provider-ai-implementations-india-enterprise-scale-copilot-rollouts/\">50,000 Copilot licences for Indian service companies</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "content:encodedSnippet": "Cognizant, Tata Consultancy Services, Infosys, and Wipro have announced plans to deploy more than 200,000 Microsoft Copilot licenses in their enterprises – over 50,000 per company – in what Microsoft is calling a new benchmark for enterprise-scale adoption of generative AI.\nThe companies involved are framing the move as the implementation of a default tool for hundreds of thousands of employees involved in consulting, delivery, operations, and software.\nThe announcement, made in Bengaluru, December 11, was timed to coincide with Microsoft CEO Satya Nadella’s visit to India. There, and across the industrialised world, there’s been growing momentum for agentic AI – AI systems that do more than chat, executing multi-step work in business processes. The four firms want to be seen as AI advisors for clients, with extensive experience drawn from their internal rollouts of AI.\nWhy enterprises care about Copilot\nReaders will be familiar with Microsoft 365 Copilot, the AI assistant embedded in standard workplace tools Word, Excel, PowerPoint, Outlook, and Teams. It’s intended to help users draft, summarise, and analyse, turning natural-language queries into work-related outputs. Copilot combines large language models with Microsoft 365 apps and organisational data gained from Microsoft Graph, with the assistant working in the context of a user’s files, meetings, and messages. This ability is, of course, subject to access controls already in place and defined by the organisation.\nFor large organisations, the embedding of AI into workflows is important. A firm shouldn’t have to rebuild its toolchain to experiment with AI, but rather start using AI in the software and documents its workforce already uses.\nThe raft of benefits is practical and work-focused: faster documentation, quicker meeting follow-ups, faster draft proposals, better discovery of information from internal knowledge repositories, and, with agentic AI, the automation of repetitive tasks.\nFrom Copilots to frontier firms and agents\nMicrosoft uses the term “Frontier Firms” to describe organisations that are “human-led and agent-operated”; where employees work alongside AI assistants and specialised agents that take on work processes.\nThe designation of ‘Frontier Firm’ status aligns with Microsoft’s messaging at Microsoft Ignite 2025, where the company described agents reinventing business processes and amplifying impact through human-agent teamwork.\nIn very simple terms, the company’s pitch is to move from “AI helps you write” to “AI helps run workflows.”\nWhy IT services firms are making public commitments\nThere are two reasons why the four firms are rolling out the technology at such a large scale. First, to improve internal productivity. The Times of India reports the deployments are intended to integrate Copilot into workflows in consulting, software development, operations and client delivery, with the aim of improved productivity.\nAt large multinational companies, margins depend on delivery efficiency and knowledge reuse, so shaving minutes from everyday tasks for tens of thousands of workers produces meaningful gains.\nSecond, client credibility. The consultancy companies serve global enterprises, including many Fortune 500 clients, which means their internal operating model can, and perhaps should, become their clients’ playbooks.\nIf consultancies can demonstrate mature governance, training, and measurable outcomes with Copilot at scale in their own operations, it strengthens their messaging, better able to sell similar transformations to potential and existing clients.\nHyperscalers’ investment in India\nThe Copilot announcement came immediately after Microsoft said it would invest $17.5 billion in India between 2026-2029, money destined for cloud and AI infrastructure, skilling, and operations. The company describes this as its largest investment in Asia to date. Other major tech firms are making parallels: Reuters reported in December 2025 that Amazon/AWS planned to invest over $35 billion in India by 2030, expanding its operations and AI capabilities, for example.\nTogether, such moves underscore India’s growing position as a massive enterprise market and strategic hub for AI talent and cloud infrastructure. For India’s IT services leaders, Copilot is being positioned as a way to stay ahead of the competitive curve and define “AI-first delivery.”\n(Image source: “Gobbling Indian view of Clinch River” by dmott9 is licensed under CC BY-ND 2.0.)\n \n\n\nWant to learn more about AI and big data from industry leaders? Check out AI & Big Data Expo taking place in Amsterdam, California, and London. The comprehensive event is part of TechEx and co-located with other leading technology events. Click here for more information.\nAI News is powered by TechForge Media. Explore other upcoming enterprise technology events and webinars here.\nThe post 50,000 Copilot licences for Indian service companies appeared first on AI News.",
          "dc:creator": "AI News",
          "content": "<p>Cognizant, Tata Consultancy Services, Infosys, and Wipro have announced plans to deploy more than 200,000 Microsoft Copilot licenses in their enterprises – over 50,000 per company – in what Microsoft is calling a new benchmark for enterprise-scale adoption of generative AI. The companies involved are framing the move as the implementation of a default tool [&#8230;]</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/service-provider-ai-implementations-india-enterprise-scale-copilot-rollouts/\">50,000 Copilot licences for Indian service companies</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "contentSnippet": "Cognizant, Tata Consultancy Services, Infosys, and Wipro have announced plans to deploy more than 200,000 Microsoft Copilot licenses in their enterprises – over 50,000 per company – in what Microsoft is calling a new benchmark for enterprise-scale adoption of generative AI. The companies involved are framing the move as the implementation of a default tool […]\nThe post 50,000 Copilot licences for Indian service companies appeared first on AI News.",
          "guid": "https://www.artificialintelligence-news.com/?p=111397",
          "categories": [
            "AI Business Strategy",
            "Deep Dives",
            "Service Industry AI",
            "cognizant",
            "consultancy",
            "infosys",
            "service providers",
            "tata",
            "wipro"
          ],
          "isoDate": "2025-12-19T13:19:12.000Z"
        }
      },
      {
        "json": {
          "creator": "Muhammad Zulhusni",
          "title": "Zara’s use of AI shows how retail workflows are quietly changing",
          "link": "https://www.artificialintelligence-news.com/news/zara-use-of-ai-shows-how-retail-workflows-are-quietly-changing/",
          "pubDate": "Fri, 19 Dec 2025 10:00:00 +0000",
          "content:encoded": "\n<p>Zara is testing how far generative AI can be pushed into everyday retail operations, starting with a part of the business that rarely gets attention in technology discussions: product imagery.</p>\n\n\n\n<p>Recent reporting shows the retailer using AI to generate new images of real models wearing different outfits, based on existing photoshoots. Models remain involved in the process, including consent and compensation, but AI is used to extend and adapt imagery without repeating production from scratch. The stated aim is to speed up content creation and reduce the need for repeated shoots.</p>\n\n\n\n<p>On the surface, the change looks incremental. In practice, it reflects a familiar pattern in enterprise AI adoption, where technology is introduced not to overhaul how a business works, but to remove friction from tasks that repeat at scale.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-how-zara-uses-ai-to-reduce-friction-in-repeatable-retail-work\">How Zara uses AI to reduce friction in repeatable retail work</h3>\n\n\n\n<p>For a global retailer like Zara, imagery is not a creative afterthought. It is a production requirement tied directly to how quickly products can be launched, refreshed, and sold across markets. Each item typically needs multiple visual variations for different regions, digital channels, and campaign cycles. Even when garments change only slightly, the surrounding production work often starts again from scratch.</p>\n\n\n\n<p>That repetition creates delays and cost that are easy to overlook precisely because they are routine. AI offers a way to compress those cycles by reusing approved material and generating variations without resetting the entire process.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-ai-enters-the-production-pipeline\">AI enters the production pipeline</h3>\n\n\n\n<p>The placement of the technology is as important as the capability itself. Zara is not positioning AI as a separate creative product or asking teams to adopt an entirely new workflow. The tools are being used inside an existing production pipeline, supporting the same outputs with fewer handoffs. That keeps the focus on throughput and coordination rather than experimentation.</p>\n\n\n\n<p>This kind of deployment is typical once AI moves beyond pilot stages. Rather than asking organisations to rethink how work is done, the technology is introduced where constraints already exist. The question becomes whether teams can move faster and with less duplication, not whether AI can replace human judgement.</p>\n\n\n\n<p>The imagery initiative also sits alongside a broader set of data-driven systems that Zara has built up over time. The retailer has long relied on analytics and machine learning to forecast demand, allocate inventory, and respond quickly to changes in customer behaviour. Those systems depend on fast feedback loops between what customers see, what they buy, and how stock moves through the network.</p>\n\n\n\n<p>From that perspective, faster content production supports the wider operation even if it is not framed as a strategic shift. When product imagery can be updated or localised more quickly, it reduces lag between physical inventory, online presentation, and customer response. Each improvement is small, but together they help maintain the pace that fast fashion relies on.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-from-experimentation-to-routine-use\">From experimentation to routine use</h3>\n\n\n\n<p>Notably, the company has avoided framing this move in grand terms. There are no published figures on cost savings or productivity gains, and no claims that AI is transforming the creative function. The scope remains narrow and operational, which limits both risk and expectation.</p>\n\n\n\n<p>That restraint is often a sign that AI has moved out of experimentation and into routine use. Once technology becomes part of day-to-day operations, organisations tend to talk about it less, not more. It stops being an innovation story and starts being treated as infrastructure.</p>\n\n\n\n<p>There are also constraints that remain visible. The process still relies on human models and creative oversight, and there is no suggestion that AI-generated imagery operates independently. Quality control, brand consistency, and ethical considerations continue to shape how the tools are applied. AI extends existing assets rather than generating content in isolation.</p>\n\n\n\n<p>This is consistent with how enterprises typically approach creative automation. Rather than replacing subjective work outright, they target the repeatable components around it. Over time, those changes accumulate and reshape how teams allocate effort, even if the core roles remain intact.</p>\n\n\n\n<p>Zara’s use of generative AI does not signal a reinvention of fashion retail. It shows how AI is beginning to touch parts of the organisation that were previously considered manual or difficult to standardise, without changing how the business fundamentally operates.</p>\n\n\n\n<p>In large enterprises, that is often how AI adoption becomes durable. It does not arrive through sweeping strategy announcements or dramatic claims. It takes hold through small, practical changes that make everyday work move a little faster — until those changes become hard to imagine doing without.</p>\n\n\n\n<p><em>(Photo by <a href=\"https://unsplash.com/@rennim_m?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText\">M. Rennim</a>)</em></p>\n\n\n\n<p><strong>See also: <a target=\"_blank\" href=\"https://www.artificialintelligence-news.com/news/walmart-ai-strategy-agentic-future/\" rel=\"noreferrer noopener\">Walmart’s AI strategy: Beyond the hype, what’s actually working</a></strong></p>\n\n\n\n<p><strong>Want to learn more about AI and big data from industry leaders?</strong> Check out<a target=\"_blank\" href=\"https://www.ai-expo.net/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\"> AI &amp; Big Data Expo</a> taking place in Amsterdam, California, and London. The comprehensive event is part of <a target=\"_blank\" href=\"https://techexevent.com/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\">TechEx</a> and is co-located with other leading technology events, click<a target=\"_blank\" href=\"https://techexevent.com/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\"> here</a> for more information.</p>\n\n\n\n<p>AI News is powered by <a target=\"_blank\" href=\"https://techforge.pub/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\">TechForge Media</a>. Explore other upcoming enterprise technology events and webinars <a target=\"_blank\" href=\"https://techforge.pub/events/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\">here</a>.</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/zara-use-of-ai-shows-how-retail-workflows-are-quietly-changing/\">Zara’s use of AI shows how retail workflows are quietly changing</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "content:encodedSnippet": "Zara is testing how far generative AI can be pushed into everyday retail operations, starting with a part of the business that rarely gets attention in technology discussions: product imagery.\nRecent reporting shows the retailer using AI to generate new images of real models wearing different outfits, based on existing photoshoots. Models remain involved in the process, including consent and compensation, but AI is used to extend and adapt imagery without repeating production from scratch. The stated aim is to speed up content creation and reduce the need for repeated shoots.\nOn the surface, the change looks incremental. In practice, it reflects a familiar pattern in enterprise AI adoption, where technology is introduced not to overhaul how a business works, but to remove friction from tasks that repeat at scale.\nHow Zara uses AI to reduce friction in repeatable retail work\nFor a global retailer like Zara, imagery is not a creative afterthought. It is a production requirement tied directly to how quickly products can be launched, refreshed, and sold across markets. Each item typically needs multiple visual variations for different regions, digital channels, and campaign cycles. Even when garments change only slightly, the surrounding production work often starts again from scratch.\nThat repetition creates delays and cost that are easy to overlook precisely because they are routine. AI offers a way to compress those cycles by reusing approved material and generating variations without resetting the entire process.\nAI enters the production pipeline\nThe placement of the technology is as important as the capability itself. Zara is not positioning AI as a separate creative product or asking teams to adopt an entirely new workflow. The tools are being used inside an existing production pipeline, supporting the same outputs with fewer handoffs. That keeps the focus on throughput and coordination rather than experimentation.\nThis kind of deployment is typical once AI moves beyond pilot stages. Rather than asking organisations to rethink how work is done, the technology is introduced where constraints already exist. The question becomes whether teams can move faster and with less duplication, not whether AI can replace human judgement.\nThe imagery initiative also sits alongside a broader set of data-driven systems that Zara has built up over time. The retailer has long relied on analytics and machine learning to forecast demand, allocate inventory, and respond quickly to changes in customer behaviour. Those systems depend on fast feedback loops between what customers see, what they buy, and how stock moves through the network.\nFrom that perspective, faster content production supports the wider operation even if it is not framed as a strategic shift. When product imagery can be updated or localised more quickly, it reduces lag between physical inventory, online presentation, and customer response. Each improvement is small, but together they help maintain the pace that fast fashion relies on.\nFrom experimentation to routine use\nNotably, the company has avoided framing this move in grand terms. There are no published figures on cost savings or productivity gains, and no claims that AI is transforming the creative function. The scope remains narrow and operational, which limits both risk and expectation.\nThat restraint is often a sign that AI has moved out of experimentation and into routine use. Once technology becomes part of day-to-day operations, organisations tend to talk about it less, not more. It stops being an innovation story and starts being treated as infrastructure.\nThere are also constraints that remain visible. The process still relies on human models and creative oversight, and there is no suggestion that AI-generated imagery operates independently. Quality control, brand consistency, and ethical considerations continue to shape how the tools are applied. AI extends existing assets rather than generating content in isolation.\nThis is consistent with how enterprises typically approach creative automation. Rather than replacing subjective work outright, they target the repeatable components around it. Over time, those changes accumulate and reshape how teams allocate effort, even if the core roles remain intact.\nZara’s use of generative AI does not signal a reinvention of fashion retail. It shows how AI is beginning to touch parts of the organisation that were previously considered manual or difficult to standardise, without changing how the business fundamentally operates.\nIn large enterprises, that is often how AI adoption becomes durable. It does not arrive through sweeping strategy announcements or dramatic claims. It takes hold through small, practical changes that make everyday work move a little faster — until those changes become hard to imagine doing without.\n(Photo by M. Rennim)\nSee also: Walmart’s AI strategy: Beyond the hype, what’s actually working\nWant to learn more about AI and big data from industry leaders? Check out AI & Big Data Expo taking place in Amsterdam, California, and London. The comprehensive event is part of TechEx and is co-located with other leading technology events, click here for more information.\nAI News is powered by TechForge Media. Explore other upcoming enterprise technology events and webinars here.\nThe post Zara’s use of AI shows how retail workflows are quietly changing appeared first on AI News.",
          "dc:creator": "Muhammad Zulhusni",
          "content": "<p>Zara is testing how far generative AI can be pushed into everyday retail operations, starting with a part of the business that rarely gets attention in technology discussions: product imagery. Recent reporting shows the retailer using AI to generate new images of real models wearing different outfits, based on existing photoshoots. Models remain involved in [&#8230;]</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/zara-use-of-ai-shows-how-retail-workflows-are-quietly-changing/\">Zara’s use of AI shows how retail workflows are quietly changing</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "contentSnippet": "Zara is testing how far generative AI can be pushed into everyday retail operations, starting with a part of the business that rarely gets attention in technology discussions: product imagery. Recent reporting shows the retailer using AI to generate new images of real models wearing different outfits, based on existing photoshoots. Models remain involved in […]\nThe post Zara’s use of AI shows how retail workflows are quietly changing appeared first on AI News.",
          "guid": "https://www.artificialintelligence-news.com/?p=111394",
          "categories": [
            "AI Business Strategy",
            "Creative Industries",
            "Deep Dives",
            "Marketing AI",
            "Retail & Logistics AI",
            "enterprise",
            "generative ai",
            "image generation",
            "retail"
          ],
          "isoDate": "2025-12-19T10:00:00.000Z"
        }
      },
      {
        "json": {
          "creator": "AI News",
          "title": "AI in Human Resources: the real operational impact",
          "link": "https://www.artificialintelligence-news.com/news/hr-ai-in-human-resources-the-real-operational-impact/",
          "pubDate": "Thu, 18 Dec 2025 12:04:01 +0000",
          "content:encoded": "\n<p>Human Resources is an area in many organisations where AI can have significant operational impact. The technology is now being embedded into day-to-day operations, in activities like answering employees&#8217; questions and supporting training. The clearest impact appears where organisations can measure the tech&#8217;s outcomes, typically in time saved and the numbers of queries successfully resolved.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"org98ccbc0\">Fewer tickets, more first-time answers</h3>\n\n\n\n<p>IBM’s internal virtual agent, AskHR, was <a href=\"https://www.ibm.com/case-studies/ibm-askhr\">built to handle employee queries</a> and automate routine HR actions. IBM says AskHR automates more than 80 internal HR tasks and has engaged in over two million conversations with employees every year. It uses a two-tier approach, where AI resolves routine issues, and human advisers handle more complex cases.</p>\n\n\n\n<p>The company reports some operational benefits: a 94% success rate in answering commonly-asked questions, a 75% reduction in the number of lodged support tickets since 2016, and – the headline figure – a 40% reduction in HR operational costs over four years.</p>\n\n\n\n<p>But it&#8217;s important to note that AI is not used by IBM to route queries to existing materials. The automation is capable of completing the transaction, thus reducing the need to hand-off queries to human staff.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"org6498162\">Recruitment and onboarding efficiencies</h3>\n\n\n\n<p>Vodafone’s <a href=\"https://reports.investors.vodafone.com/view/197179846/\">2024 annual report</a> describes an internal platform it calls &#8216;<a href=\"https://reports.investors.vodafone.com/view/197179846/18/\">Grow with Vodafone</a>&#8216;. The company says it&#8217;s reduced its time-to-hire periods from 50 days to 48 days, made the job application process simpler, and added personalised skills-based job recommendations for applicants. That&#8217;s led to a 78% reduction in questions posed by potential applicants and those onboarding into new roles.</p>\n\n\n\n<p>The company also has a global headcount planning tool that reduces the manual work needed to assemble necessary data, plus there&#8217;s an AI-powered global HR &#8216;data lake&#8217; that standardises dashboards and reduces the need for manual reporting – stakeholders can dive into the data themselves and surface the insights they need.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"org459aa66\">Training and internal support</h3>\n\n\n\n<p>Big employers have challengers getting new staff up to speed quickly; so-called time-to-competence. Bank of Americas&#8217; newsroom describes how its onboarding and professional development organisation, &#8216;The Academy&#8217; uses AI for interactive coaching, with employees completing over a million simulations in a year.</p>\n\n\n\n<p>The organisation operates &#8216;<a href=\"https://newsroom.bankofamerica.com/content/newsroom/press-releases/2025/04/ai-adoption-by-bofa-s-global-workforce-improves-productivity--cl.html\">Erica for Employees</a>&#8216;, an internal assistant that handles topics like health benefits and payroll or tax forms for employees. It&#8217;s used by over 90% of employees – for the IT service desk, having Erica triage situations is impactful, with a reduction of more than 50% in incoming calls.</p>\n\n\n\n<p>Such tools reduce hidden work (searching, repeating questions, waiting for answers) and its associated costs. Plus, a shorter time-to-competence is especially valuable in regulated and customer-facing environments.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"org82ec26a\">Frontline work at big employers</h3>\n\n\n\n<p>Walmart’s June 2025 corporate update describes rolling out <a href=\"https://corporate.walmart.com/news/2025/06/24/walmart-unveils-new-ai-powered-tools-to-empower-1-5-million-associates\">AI tools via its associates&#8217; app</a>, which include a workflow tool that prioritises and recommends work tasks. At the time of publication, it was early days, but based on early results, Walmart says team leads and store managers are beginning to see shift planning times down from 90 to 30 minutes.</p>\n\n\n\n<p>As an employer of a diverse workforce, its app&#8217;s real-time translation ability (44 languages) is invaluable. The company is currently upgrading its associates&#8217; software with AI to turn its internal process guides into multi-lingual instructions. It has more than 900,000 employees using the system every week users, with more than three million queries per day going through the associates&#8217; conversational AI platform.</p>\n\n\n\n<p>Workforce efficiencies at Walmart scale is impressive, but for every size of business, there are clear advantages to be gained from giving employees faster guidance and better support across multilingual teams. In addition to the immediate cost savings, simple-to-use and effective software of this type affects retention, safety standards, and service quality – all for the better.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"orga6c730f\">Governance and human safety nets</h3>\n\n\n\n<p>Multinational bank, HSBC&#8217;s publication, &#8220;<a href=\"https://www.hsbc.com/who-we-are/hsbc-and-digital/hsbc-and-ai/transforming-hsbc-with-ai\">Transforming HSBC with AI</a>&#8221; describes over 600 AI use cases in operation at the company, and says colleagues have access to an LLM-based productivity tool for tasks like translation and document analysis. In an environment where governance and data security are of paramount importance, it&#8217;s ensured that all automated systems abide by existing codes, something that&#8217;s enforced by dedicated AI Review Councils and AI lifecycle management frameworks.</p>\n\n\n\n<p>In HR this matters, regardless of vertical. Governance decisions should shape what <em>can</em> be automated, <em>how</em> people data is handled, and <em>how accountability is maintained</em> into the long term. HR data is often personally-identifiable, so the highest standards – and their maintenance – are critically important.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"org77d2bd3\">Operational trade-offs</h3>\n\n\n\n<p>Operational impact is about trust as well as speed and efficiency. A self-service agent answering confidently but incorrectly creates rework, escalations, and causes problems. A pragmatic pattern for reducing risk is to keep humans in the loop, especially for complex decisions.</p>\n\n\n\n<p>IBM&#8217;s two-tier model, Vodafone&#8217;s tailored job recommendations, and Walmart an HSBC&#8217;s data governance and security bring oversight. Hybrid service models plus data discipline and oversight are what enable AI to scale without undermining employee confidence or fairness.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"org4bf2f06\">Where this is heading</h3>\n\n\n\n<p>The pattern of successful operational deployment has been consistent in the cases of the HR function in these large enterprises. They each started with high-volume questions and repetitive transactions, expanded into hiring and training, and then pushed AI to the frontline where it can save time. The biggest gains come when AI turns HR from a service queue into a faster, more consistently-operating function.</p>\n\n<p><em>(Image source: &#8220;Business Meetings&#8221; by thinkpanama is licensed under CC BY-NC 2.0.)</em></p>\n<p>&nbsp;</p>\n\n<a href=\"https://www.ai-expo.net/?utm_source=AI-News&#038;utm_medium=Footer-banner&#038;utm_campaign=world-series\"><img decoding=\"async\" src=\"https://www.artificialintelligence-news.com/wp-content/uploads/2025/08/ai-expo-banner-2025.png\"></a>\n\n<p><strong>Want to learn more about AI and big data from industry leaders?</strong> Check out <a href=\"https://www.ai-expo.net/\">AI &amp; Big Data Expo</a> taking place in Amsterdam, California, and London. The comprehensive event is part of <a href=\"https://techexevent.com/\">TechEx</a> and co-located with other leading technology events. Click <a href=\"https://techexevent.com/\">here</a> for more information.</p>\n\n<p>AI News is powered by <a href=\"https://techforge.pub/\">TechForge Media</a>. Explore other upcoming enterprise technology events and webinars <a href=\"https://techforge.pub/events/\">here</a>.</p><p>The post <a href=\"https://www.artificialintelligence-news.com/news/hr-ai-in-human-resources-the-real-operational-impact/\">AI in Human Resources: the real operational impact</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "content:encodedSnippet": "Human Resources is an area in many organisations where AI can have significant operational impact. The technology is now being embedded into day-to-day operations, in activities like answering employees’ questions and supporting training. The clearest impact appears where organisations can measure the tech’s outcomes, typically in time saved and the numbers of queries successfully resolved.\nFewer tickets, more first-time answers\nIBM’s internal virtual agent, AskHR, was built to handle employee queries and automate routine HR actions. IBM says AskHR automates more than 80 internal HR tasks and has engaged in over two million conversations with employees every year. It uses a two-tier approach, where AI resolves routine issues, and human advisers handle more complex cases.\nThe company reports some operational benefits: a 94% success rate in answering commonly-asked questions, a 75% reduction in the number of lodged support tickets since 2016, and – the headline figure – a 40% reduction in HR operational costs over four years.\nBut it’s important to note that AI is not used by IBM to route queries to existing materials. The automation is capable of completing the transaction, thus reducing the need to hand-off queries to human staff.\nRecruitment and onboarding efficiencies\nVodafone’s 2024 annual report describes an internal platform it calls ‘Grow with Vodafone‘. The company says it’s reduced its time-to-hire periods from 50 days to 48 days, made the job application process simpler, and added personalised skills-based job recommendations for applicants. That’s led to a 78% reduction in questions posed by potential applicants and those onboarding into new roles.\nThe company also has a global headcount planning tool that reduces the manual work needed to assemble necessary data, plus there’s an AI-powered global HR ‘data lake’ that standardises dashboards and reduces the need for manual reporting – stakeholders can dive into the data themselves and surface the insights they need.\nTraining and internal support\nBig employers have challengers getting new staff up to speed quickly; so-called time-to-competence. Bank of Americas’ newsroom describes how its onboarding and professional development organisation, ‘The Academy’ uses AI for interactive coaching, with employees completing over a million simulations in a year.\nThe organisation operates ‘Erica for Employees‘, an internal assistant that handles topics like health benefits and payroll or tax forms for employees. It’s used by over 90% of employees – for the IT service desk, having Erica triage situations is impactful, with a reduction of more than 50% in incoming calls.\nSuch tools reduce hidden work (searching, repeating questions, waiting for answers) and its associated costs. Plus, a shorter time-to-competence is especially valuable in regulated and customer-facing environments.\nFrontline work at big employers\nWalmart’s June 2025 corporate update describes rolling out AI tools via its associates’ app, which include a workflow tool that prioritises and recommends work tasks. At the time of publication, it was early days, but based on early results, Walmart says team leads and store managers are beginning to see shift planning times down from 90 to 30 minutes.\nAs an employer of a diverse workforce, its app’s real-time translation ability (44 languages) is invaluable. The company is currently upgrading its associates’ software with AI to turn its internal process guides into multi-lingual instructions. It has more than 900,000 employees using the system every week users, with more than three million queries per day going through the associates’ conversational AI platform.\nWorkforce efficiencies at Walmart scale is impressive, but for every size of business, there are clear advantages to be gained from giving employees faster guidance and better support across multilingual teams. In addition to the immediate cost savings, simple-to-use and effective software of this type affects retention, safety standards, and service quality – all for the better.\nGovernance and human safety nets\nMultinational bank, HSBC’s publication, “Transforming HSBC with AI” describes over 600 AI use cases in operation at the company, and says colleagues have access to an LLM-based productivity tool for tasks like translation and document analysis. In an environment where governance and data security are of paramount importance, it’s ensured that all automated systems abide by existing codes, something that’s enforced by dedicated AI Review Councils and AI lifecycle management frameworks.\nIn HR this matters, regardless of vertical. Governance decisions should shape what can be automated, how people data is handled, and how accountability is maintained into the long term. HR data is often personally-identifiable, so the highest standards – and their maintenance – are critically important.\nOperational trade-offs\nOperational impact is about trust as well as speed and efficiency. A self-service agent answering confidently but incorrectly creates rework, escalations, and causes problems. A pragmatic pattern for reducing risk is to keep humans in the loop, especially for complex decisions.\nIBM’s two-tier model, Vodafone’s tailored job recommendations, and Walmart an HSBC’s data governance and security bring oversight. Hybrid service models plus data discipline and oversight are what enable AI to scale without undermining employee confidence or fairness.\nWhere this is heading\nThe pattern of successful operational deployment has been consistent in the cases of the HR function in these large enterprises. They each started with high-volume questions and repetitive transactions, expanded into hiring and training, and then pushed AI to the frontline where it can save time. The biggest gains come when AI turns HR from a service queue into a faster, more consistently-operating function.\n(Image source: “Business Meetings” by thinkpanama is licensed under CC BY-NC 2.0.)\n \n\n\nWant to learn more about AI and big data from industry leaders? Check out AI & Big Data Expo taking place in Amsterdam, California, and London. The comprehensive event is part of TechEx and co-located with other leading technology events. Click here for more information.\nAI News is powered by TechForge Media. Explore other upcoming enterprise technology events and webinars here.\nThe post AI in Human Resources: the real operational impact appeared first on AI News.",
          "dc:creator": "AI News",
          "content": "<p>Human Resources is an area in many organisations where AI can have significant operational impact. The technology is now being embedded into day-to-day operations, in activities like answering employees&#8217; questions and supporting training. The clearest impact appears where organisations can measure the tech&#8217;s outcomes, typically in time saved and the numbers of queries successfully resolved. [&#8230;]</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/hr-ai-in-human-resources-the-real-operational-impact/\">AI in Human Resources: the real operational impact</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "contentSnippet": "Human Resources is an area in many organisations where AI can have significant operational impact. The technology is now being embedded into day-to-day operations, in activities like answering employees’ questions and supporting training. The clearest impact appears where organisations can measure the tech’s outcomes, typically in time saved and the numbers of queries successfully resolved. […]\nThe post AI in Human Resources: the real operational impact appeared first on AI News.",
          "guid": "https://www.artificialintelligence-news.com/?p=111388",
          "categories": [
            "Workforce & HR AI",
            "World of Work",
            "bank of america",
            "banking",
            "financial sector",
            "hsbc",
            "human resources",
            "ibm",
            "retail",
            "tech giants",
            "telecom",
            "vodafone",
            "walmart"
          ],
          "isoDate": "2025-12-18T12:04:01.000Z"
        }
      },
      {
        "json": {
          "creator": "Muhammad Zulhusni",
          "title": "Wall Street’s AI gains are here — banks plan for fewer people",
          "link": "https://www.artificialintelligence-news.com/news/wall-street-ai-gains-are-here-banks-plan-for-fewer-people/",
          "pubDate": "Thu, 18 Dec 2025 11:00:00 +0000",
          "content:encoded": "\n<p>By December 2025, AI adoption on Wall Street had moved past experiments inside large US banks and into everyday operations. Speaking at a Goldman Sachs financial-services conference in New York on 9 December, bank executives described AI—particularly generative AI—as an operational upgrade already lifting productivity across engineering, operations, and customer service.</p>\n\n\n\n<p>The same discussion also surfaced a harder reality. If banks can produce more with the same teams, some roles may no longer be required at current levels once demand stabilises.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-how-wall-street-banks-say-ai-is-delivering-results-today\">How Wall Street banks say AI is delivering results today</h3>\n\n\n\n<p><strong>JPMorgan: operational gains begin to compound</strong></p>\n\n\n\n<p>Marianne Lake, chief executive of consumer and community banking at JPMorgan, said productivity in areas using AI has risen to around 6%, up from roughly 3% before deployment. She added that operations roles could eventually see productivity gains of 40% to 50% as AI becomes part of routine work.</p>\n\n\n\n<p>Those gains rest on deliberate choices rather than broad experimentation. JPMorgan has focused on secure internal access to large language models, targeted changes to workflows, and tight controls on how data is used. The bank has described its internal “LLM Suite” as a controlled setting where staff can draft and summarise content using large language models.</p>\n\n\n\n<p><strong>Wells Fargo: output rising ahead of staffing changes</strong></p>\n\n\n\n<p>Wells Fargo CEO Charlie Scharf said the bank has not reduced headcount because of AI so far, but noted that it is “getting a lot more done.” He said management expects to find areas where fewer people are needed as productivity improves.</p>\n\n\n\n<p>In comments reported the same day, Scharf said the bank’s internal budgets already point to a smaller workforce by 2026, even before factoring in AI’s full impact. He also flagged higher severance costs, suggesting preparations for future adjustments are under way.</p>\n\n\n\n<p><strong>PNC: AI speeds up a long-running shift</strong></p>\n\n\n\n<p>PNC CEO Bill Demchak positioned AI as an accelerator rather than a new direction. He said the bank’s headcount has stayed largely flat for about a decade, even as the business expanded. That stability, he said, came from automation and branch optimisation, with AI likely to push the trend further.</p>\n\n\n\n<p><strong>Citigroup: gains in software and customer support</strong></p>\n\n\n\n<p>Citi’s incoming CFO Gonzalo Luchetti said the bank has recorded a 9% productivity improvement in software development. That mirrors a broader pattern across large firms adopting AI copilots to support coding work.</p>\n\n\n\n<p>He also pointed to two customer service areas where AI is helping: improving self-service so fewer calls reach agents, and supporting agents in real time when customers do need to speak with a person.</p>\n\n\n\n<p><strong>Goldman Sachs: workflow changes paired with hiring restraint</strong></p>\n\n\n\n<p>According to Reuters, Goldman Sachs’ internal “OneGS 3.0” programme has focused on using AI to improve sales processes and client onboarding. It has also targeted process-heavy functions such as lending workflows, regulatory reporting, and vendor management.</p>\n\n\n\n<p>These changes are unfolding alongside job cuts and a slower pace of hiring, linking workflow redesign directly to staffing decisions.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-where-wall-street-banks-see-the-earliest-ai-productivity-gains\">Where Wall Street banks see the earliest AI productivity gains</h3>\n\n\n\n<p>Across banks, the clearest gains are showing up in work that relies heavily on documents, follows repeatable steps, and operates within defined rules. Generative AI can shorten the time needed to search for information, summarise material, draft content, and move work through approval chains—especially when paired with structured processes and human checks.</p>\n\n\n\n<p>Common areas seeing early impact include:</p>\n\n\n\n<ul class=\"wp-block-list\">\n<li><strong>Operations:</strong> drafting responses, summarising cases, and resolving exceptions more quickly</li>\n\n\n\n<li><strong>Software development:</strong> generating code, writing tests, refactoring, and producing documentation</li>\n\n\n\n<li><strong>Customer service:</strong> stronger self-service combined with real-time support for agents</li>\n\n\n\n<li><strong>Sales support and onboarding:</strong> pulling data from documents, filling forms, and speeding up client setup</li>\n\n\n\n<li><strong>Regulatory reporting:</strong> assembling narratives and evidence faster, under strict review and controls</li>\n</ul>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-why-governance-shapes-the-pace-of-adoption\">Why governance shapes the pace of adoption</h3>\n\n\n\n<p>For banks, enthusiasm is not the main constraint. Control is. US regulators have long required strong oversight of models, and those expectations extend to AI systems. Guidance such as the Federal Reserve and OCC’s SR 11-7 sets standards for model development, validation, and ongoing review. A 2025 report from the US Government Accountability Office noted that existing model risk management principles already apply to AI, including testing and independent oversight.</p>\n\n\n\n<p>In practice, this pushes banks toward designs that can be examined and traced. AI use is often limited in how independently it can act. Prompts and outputs are logged, performance is monitored for drift, and humans remain responsible for high-impact decisions such as lending, dispute handling, and official reporting.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-productivity-rises-but-employment-questions-remain\">Productivity rises, but employment questions remain</h3>\n\n\n\n<p>The comments from bank leaders point to a phased shift. The first phase looks like stable headcount paired with higher output as AI tools spread across teams. The second phase begins once those gains become consistent enough to influence staffing plans, through attrition, role changes, or targeted cuts.</p>\n\n\n\n<p>Signals from Wells Fargo around 2026 headcount planning and severance costs suggest some banks are approaching that second stage.</p>\n\n\n\n<p>At a broader level, institutions such as the International Monetary Fund have warned that AI could affect a large share of jobs worldwide, with different mixes of automation and augmentation depending on role and region. The World Economic Forum’s <em>Future of Jobs Report 2025</em> also projects substantial job movement as companies adopt AI and adjust skill needs.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-what-ai-means-for-wall-street-bank-strategy-beyond-2025\">What AI means for Wall Street bank strategy beyond 2025</h3>\n\n\n\n<p>Banks that gain the most from AI are likely to focus on three areas at once: redesigning workflows rather than layering on chat tools, building strong data foundations, and putting governance in place that supports speed without eroding trust.</p>\n\n\n\n<p>Research firms argue the financial stakes are high. McKinsey estimates that generative AI could deliver between $200 billion and $340 billion in annual value for the banking sector, largely through productivity improvements.</p>\n\n\n\n<p>The open question is no longer whether AI can deliver results in banking. It is how quickly banks can make those gains routine while preserving audit trails, security, and customer safeguards—and how they manage the workforce changes that follow.</p>\n\n\n\n<p><em>(Photo by <a href=\"https://unsplash.com/@bylolo?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText\">Lo Lo</a>)</em></p>\n\n\n\n<p><strong>See also: <a href=\"https://www.artificialintelligence-news.com/news/bnp-paribas-introduces-ai-tool-for-investment-banking/\" target=\"_blank\" rel=\"noreferrer noopener\">BNP Paribas introduces AI tool for investment banking</a></strong></p>\n\n\n\n<p><strong>Want to learn more about AI and big data from industry leaders?</strong> Check out<a target=\"_blank\" href=\"https://www.ai-expo.net/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\"> AI &amp; Big Data Expo</a> taking place in Amsterdam, California, and London. The comprehensive event is part of <a target=\"_blank\" href=\"https://techexevent.com/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\">TechEx</a> and is co-located with other leading technology events, click<a target=\"_blank\" href=\"https://techexevent.com/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\"> here</a> for more information.</p>\n\n\n\n<p>AI News is powered by <a target=\"_blank\" href=\"https://techforge.pub/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\">TechForge Media</a>. Explore other upcoming enterprise technology events and webinars <a target=\"_blank\" href=\"https://techforge.pub/events/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\">here</a>.</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/wall-street-ai-gains-are-here-banks-plan-for-fewer-people/\">Wall Street’s AI gains are here — banks plan for fewer people</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "content:encodedSnippet": "By December 2025, AI adoption on Wall Street had moved past experiments inside large US banks and into everyday operations. Speaking at a Goldman Sachs financial-services conference in New York on 9 December, bank executives described AI—particularly generative AI—as an operational upgrade already lifting productivity across engineering, operations, and customer service.\nThe same discussion also surfaced a harder reality. If banks can produce more with the same teams, some roles may no longer be required at current levels once demand stabilises.\nHow Wall Street banks say AI is delivering results today\nJPMorgan: operational gains begin to compound\nMarianne Lake, chief executive of consumer and community banking at JPMorgan, said productivity in areas using AI has risen to around 6%, up from roughly 3% before deployment. She added that operations roles could eventually see productivity gains of 40% to 50% as AI becomes part of routine work.\nThose gains rest on deliberate choices rather than broad experimentation. JPMorgan has focused on secure internal access to large language models, targeted changes to workflows, and tight controls on how data is used. The bank has described its internal “LLM Suite” as a controlled setting where staff can draft and summarise content using large language models.\nWells Fargo: output rising ahead of staffing changes\nWells Fargo CEO Charlie Scharf said the bank has not reduced headcount because of AI so far, but noted that it is “getting a lot more done.” He said management expects to find areas where fewer people are needed as productivity improves.\nIn comments reported the same day, Scharf said the bank’s internal budgets already point to a smaller workforce by 2026, even before factoring in AI’s full impact. He also flagged higher severance costs, suggesting preparations for future adjustments are under way.\nPNC: AI speeds up a long-running shift\nPNC CEO Bill Demchak positioned AI as an accelerator rather than a new direction. He said the bank’s headcount has stayed largely flat for about a decade, even as the business expanded. That stability, he said, came from automation and branch optimisation, with AI likely to push the trend further.\nCitigroup: gains in software and customer support\nCiti’s incoming CFO Gonzalo Luchetti said the bank has recorded a 9% productivity improvement in software development. That mirrors a broader pattern across large firms adopting AI copilots to support coding work.\nHe also pointed to two customer service areas where AI is helping: improving self-service so fewer calls reach agents, and supporting agents in real time when customers do need to speak with a person.\nGoldman Sachs: workflow changes paired with hiring restraint\nAccording to Reuters, Goldman Sachs’ internal “OneGS 3.0” programme has focused on using AI to improve sales processes and client onboarding. It has also targeted process-heavy functions such as lending workflows, regulatory reporting, and vendor management.\nThese changes are unfolding alongside job cuts and a slower pace of hiring, linking workflow redesign directly to staffing decisions.\nWhere Wall Street banks see the earliest AI productivity gains\nAcross banks, the clearest gains are showing up in work that relies heavily on documents, follows repeatable steps, and operates within defined rules. Generative AI can shorten the time needed to search for information, summarise material, draft content, and move work through approval chains—especially when paired with structured processes and human checks.\nCommon areas seeing early impact include:\nOperations: drafting responses, summarising cases, and resolving exceptions more quickly\nSoftware development: generating code, writing tests, refactoring, and producing documentation\nCustomer service: stronger self-service combined with real-time support for agents\nSales support and onboarding: pulling data from documents, filling forms, and speeding up client setup\nRegulatory reporting: assembling narratives and evidence faster, under strict review and controls\nWhy governance shapes the pace of adoption\nFor banks, enthusiasm is not the main constraint. Control is. US regulators have long required strong oversight of models, and those expectations extend to AI systems. Guidance such as the Federal Reserve and OCC’s SR 11-7 sets standards for model development, validation, and ongoing review. A 2025 report from the US Government Accountability Office noted that existing model risk management principles already apply to AI, including testing and independent oversight.\nIn practice, this pushes banks toward designs that can be examined and traced. AI use is often limited in how independently it can act. Prompts and outputs are logged, performance is monitored for drift, and humans remain responsible for high-impact decisions such as lending, dispute handling, and official reporting.\nProductivity rises, but employment questions remain\nThe comments from bank leaders point to a phased shift. The first phase looks like stable headcount paired with higher output as AI tools spread across teams. The second phase begins once those gains become consistent enough to influence staffing plans, through attrition, role changes, or targeted cuts.\nSignals from Wells Fargo around 2026 headcount planning and severance costs suggest some banks are approaching that second stage.\nAt a broader level, institutions such as the International Monetary Fund have warned that AI could affect a large share of jobs worldwide, with different mixes of automation and augmentation depending on role and region. The World Economic Forum’s Future of Jobs Report 2025 also projects substantial job movement as companies adopt AI and adjust skill needs.\nWhat AI means for Wall Street bank strategy beyond 2025\nBanks that gain the most from AI are likely to focus on three areas at once: redesigning workflows rather than layering on chat tools, building strong data foundations, and putting governance in place that supports speed without eroding trust.\nResearch firms argue the financial stakes are high. McKinsey estimates that generative AI could deliver between $200 billion and $340 billion in annual value for the banking sector, largely through productivity improvements.\nThe open question is no longer whether AI can deliver results in banking. It is how quickly banks can make those gains routine while preserving audit trails, security, and customer safeguards—and how they manage the workforce changes that follow.\n(Photo by Lo Lo)\nSee also: BNP Paribas introduces AI tool for investment banking\nWant to learn more about AI and big data from industry leaders? Check out AI & Big Data Expo taking place in Amsterdam, California, and London. The comprehensive event is part of TechEx and is co-located with other leading technology events, click here for more information.\nAI News is powered by TechForge Media. Explore other upcoming enterprise technology events and webinars here.\nThe post Wall Street’s AI gains are here — banks plan for fewer people appeared first on AI News.",
          "dc:creator": "Muhammad Zulhusni",
          "content": "<p>By December 2025, AI adoption on Wall Street had moved past experiments inside large US banks and into everyday operations. Speaking at a Goldman Sachs financial-services conference in New York on 9 December, bank executives described AI—particularly generative AI—as an operational upgrade already lifting productivity across engineering, operations, and customer service. The same discussion also [&#8230;]</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/wall-street-ai-gains-are-here-banks-plan-for-fewer-people/\">Wall Street’s AI gains are here — banks plan for fewer people</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "contentSnippet": "By December 2025, AI adoption on Wall Street had moved past experiments inside large US banks and into everyday operations. Speaking at a Goldman Sachs financial-services conference in New York on 9 December, bank executives described AI—particularly generative AI—as an operational upgrade already lifting productivity across engineering, operations, and customer service. The same discussion also […]\nThe post Wall Street’s AI gains are here — banks plan for fewer people appeared first on AI News.",
          "guid": "https://www.artificialintelligence-news.com/?p=111374",
          "categories": [
            "AI Business Strategy",
            "AI in Action",
            "AI Market Trends",
            "Artificial Intelligence",
            "Deep Dives",
            "Features",
            "Finance AI",
            "Inside AI",
            "Workforce & HR AI",
            "World of Work",
            "ai",
            "artificial intelligence",
            "banking",
            "featured",
            "generative ai",
            "productivity"
          ],
          "isoDate": "2025-12-18T11:00:00.000Z"
        }
      },
      {
        "json": {
          "creator": "AI News",
          "title": "Ensuring effective AI in insurance operations",
          "link": "https://www.artificialintelligence-news.com/news/insurance-ai-use-operational-differences-experienced-by-the-big-players/",
          "pubDate": "Thu, 18 Dec 2025 10:47:50 +0000",
          "content:encoded": "\n<p>Artificial intelligence has been part of the insurance sector for years – the Finance function in many businesses is often the first to automate. But what&#8217;s remarkable in the instance of AI is how directly the technology is woven into day-to-day operational work. Not sitting in the background as a niche modelling capability, AI is now used in places where insurers spend most of their time and money: claims handling, underwriting, and running complex programmes.</p>\n\n\n\n<p>Industry giants <a href=\"https://www.allianz.com/en/mediacentre/news/articles/250205-smarter-claims-management-smoother-settlements.html\">Allianz</a>, <a href=\"https://www.zurich.com/commercial-insurance/sustainability-and-insights/commercial-insurance-risk-insights/the-power-of-artificial-intelligence\">Zurich</a>, and <a href=\"https://www.aviva.com/newsroom/news-releases/2025/11/aviva-to-launch-groundbreaking-ai-underwriting-tool/\">Aviva</a> have published evidence in just the last 12 months illustrating their shifts from experimentation stages to production-grade tools that support frontline workers in real workflows.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-simple-claims-fewer-admin-bottlenecks\">Simple claims: Fewer admin bottlenecks</h3>\n\n\n\n<p>Claims operations are a natural proving ground for AI because they comprise of a combination of paperwork and human judgement, and are usually undertaken in an environment of time pressure. Allianz describes its Insurance Copilot as an AI-powered tool that helps claims handlers automate repetitive tasks and pull together relevant information that would otherwise require multiple searches on different systems.</p>\n\n\n\n<p>There&#8217;s a notable change to the workflows, Allianz outlines. The Copilot starts with data gathering, summarising claim and contract details so a handler can get just the essentials, quickly. The algorithm then performs document analysis, operations that include interpreting agreements and comparing claims against policy details. The tool flags discrepancies and suggests next steps. Once the human operator has taken their decision, the Copilot assists drafts context-aware emails.</p>\n\n\n\n<p>This is the kind of daily activity that insurers care about, and by using their AI tools, they get reduced turnaround time, smoother settlements, and less friction for staff and customers. Allianz also frames AI as a way to reduce unnecessary payouts by highlighting important factors adjusters might otherwise miss. That has a clear impact on the company&#8217;s overall bottom line.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-complex-documents-to-usable-decisions\">Complex documents to usable decisions</h3>\n\n\n\n<p>The quality of underwriting is determined by the quality of information available. Aviva uses the example of underwriters needing to read GP medical reports. The company says it&#8217;s launching an AI-powered summarisation tool that uses genAI to analyse and summarise these reports, which can sometimes amount to dozens of pages of medical text. The AI functions <a href=\"https://www.aviva.com/newsroom/news-releases/2025/11/aviva-to-launch-groundbreaking-ai-underwriting-tool/\">let underwriters</a> make faster, more informed decisions.</p>\n\n\n\n<p>The immediate value here is not AI replacing the underwriter, but technology reducing the time spent reading. The insurer is explicit that underwriters will review summaries and make the final decision – not the AI. That distinction matters because underwriting is technical <i>and</i> sensitive; compressing documents into decision-ready summaries can speed up processing, but it also raises questions about accuracy, omissions and auditability. Aviva addresses this by pointing to its &#8220;<a href=\"https://www.aviva.com/newsroom/news-releases/2025/11/aviva-to-launch-groundbreaking-ai-underwriting-tool/\">rigorous testing and controls</a>&#8220;. An active test phase processed around 1,000 cases before roll-out to ensure the standards it required, the company says.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-uncertain-contracts-and-servicing-in-multinational-programmes\">Uncertain contracts and servicing in multinational programmes</h3>\n\n\n\n<p>Commercial insurance is an area with its own challenges, which include the complexity from working in multiple jurisdictions, and the regional differences between policies and stakeholders. Zurich says generative AI&#8217;s ability to process unstructured information lets multinational insurance work more easily across several countries, helping it build quicker, more accurate pictures of commercial insurance offerings, and <a href=\"https://www.zurich.com/commercial-insurance/sustainability-and-insights/commercial-insurance-risk-insights/the-power-of-artificial-intelligence\">simplifying submissions</a> in different countries.</p>\n\n\n\n<p>Zurich also highlights contract certainty as a practical outcome: multinational programmes involve layered documents, varied local requirements and have the pervasive need for constant checking. It says GenAI helps internal experts compare, summarise and verify coverage in a programme using the operator&#8217;s native language, &#8220;in a fraction of the time&#8221; compared with the manual effort required to translate and capture the nuance of international differences. Although this area isn&#8217;t customer-facing, genAI improves the company&#8217;s responsiveness by letting its underwriters, risk engineers, and claims professionals work more efficiently.</p>\n\n\n\n<p>Zurich also refers to AI &#8220;joining up the dots&#8221;, able to spot trends in data that would – given the quantity of information – go unnoticed by human staff. Indeed, AI amplifies its experts&#8217; judgement rather than displacing it.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-the-common-thread-augmentation-not-automation-for-automation-s-sake\">The common thread: augmentation, not automation-for-automation&#8217;s sake</h3>\n\n\n\n<p>Across these three examples, a consistent pattern emerges:</p>\n\n\n\n<ul class=\"wp-block-list org-ul\">\n<li>AI handles the heavy lifting of reading, searching, and drafting; high-volume tasks in insurance operations.</li>\n\n\n\n<li>Humans remain accountable for consequent decisions, whether it&#8217;s claim payments or underwriting acceptance. (Allianz describes a &#8220;human-in-the-loop&#8221; approach, and Aviva and Zurich similarly emphasise experts retaining decision-making control).</li>\n\n\n\n<li>Operational control and scalability are treated as major concerns: pilots, testing, domain-by-domain tuning, and expansion into lines of business are integral part of the narrative.</li>\n</ul>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-what-this-means-for-the-sector\">What this means for the sector</h3>\n\n\n\n<p>Insurers see faster cycle times, better consistency, reduced manual work, and a path to scaling. Their challenge is implementing tools responsibly, which is defined by secure data handling, explainability where needed, and the training of teams so they can question outputs appropriately.</p>\n\n\n\n<p>AI is becoming less of a headline in the sector and more of an everyday reality, a practical silicon colleague in the routine work of insurance profitability.</p>\n\n\n\n<p><em>(Image source: &#8220;house fire&#8221; by peteSwede is licensed under CC BY 2.0. )</em></p>\n\n\n\n<p>&nbsp;</p>\n\n\n\n<figure class=\"wp-block-image\"><a href=\"https://www.ai-expo.net/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\"><img decoding=\"async\" src=\"https://www.artificialintelligence-news.com/wp-content/uploads/2025/08/ai-expo-banner-2025.png\" alt=\"\"/></a></figure>\n\n\n\n<p></p>\n\n\n\n<p><strong>Want to learn more about AI and big data from industry leaders?</strong> Check out <a href=\"https://www.ai-expo.net/\">AI &amp; Big Data Expo</a> taking place in Amsterdam, California, and London. The comprehensive event is part of <a href=\"https://techexevent.com/\">TechEx</a> and co-located with other leading technology events. Click <a href=\"https://techexevent.com/\">here</a> for more information.</p>\n\n\n\n<p>AI News is powered by <a href=\"https://techforge.pub/\">TechForge Media</a>. Explore other upcoming enterprise technology events and webinars <a href=\"https://techforge.pub/events/\">here</a>.</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/insurance-ai-use-operational-differences-experienced-by-the-big-players/\">Ensuring effective AI in insurance operations</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "content:encodedSnippet": "Artificial intelligence has been part of the insurance sector for years – the Finance function in many businesses is often the first to automate. But what’s remarkable in the instance of AI is how directly the technology is woven into day-to-day operational work. Not sitting in the background as a niche modelling capability, AI is now used in places where insurers spend most of their time and money: claims handling, underwriting, and running complex programmes.\nIndustry giants Allianz, Zurich, and Aviva have published evidence in just the last 12 months illustrating their shifts from experimentation stages to production-grade tools that support frontline workers in real workflows.\nSimple claims: Fewer admin bottlenecks\nClaims operations are a natural proving ground for AI because they comprise of a combination of paperwork and human judgement, and are usually undertaken in an environment of time pressure. Allianz describes its Insurance Copilot as an AI-powered tool that helps claims handlers automate repetitive tasks and pull together relevant information that would otherwise require multiple searches on different systems.\nThere’s a notable change to the workflows, Allianz outlines. The Copilot starts with data gathering, summarising claim and contract details so a handler can get just the essentials, quickly. The algorithm then performs document analysis, operations that include interpreting agreements and comparing claims against policy details. The tool flags discrepancies and suggests next steps. Once the human operator has taken their decision, the Copilot assists drafts context-aware emails.\nThis is the kind of daily activity that insurers care about, and by using their AI tools, they get reduced turnaround time, smoother settlements, and less friction for staff and customers. Allianz also frames AI as a way to reduce unnecessary payouts by highlighting important factors adjusters might otherwise miss. That has a clear impact on the company’s overall bottom line.\nComplex documents to usable decisions\nThe quality of underwriting is determined by the quality of information available. Aviva uses the example of underwriters needing to read GP medical reports. The company says it’s launching an AI-powered summarisation tool that uses genAI to analyse and summarise these reports, which can sometimes amount to dozens of pages of medical text. The AI functions let underwriters make faster, more informed decisions.\nThe immediate value here is not AI replacing the underwriter, but technology reducing the time spent reading. The insurer is explicit that underwriters will review summaries and make the final decision – not the AI. That distinction matters because underwriting is technical and sensitive; compressing documents into decision-ready summaries can speed up processing, but it also raises questions about accuracy, omissions and auditability. Aviva addresses this by pointing to its “rigorous testing and controls“. An active test phase processed around 1,000 cases before roll-out to ensure the standards it required, the company says.\nUncertain contracts and servicing in multinational programmes\nCommercial insurance is an area with its own challenges, which include the complexity from working in multiple jurisdictions, and the regional differences between policies and stakeholders. Zurich says generative AI’s ability to process unstructured information lets multinational insurance work more easily across several countries, helping it build quicker, more accurate pictures of commercial insurance offerings, and simplifying submissions in different countries.\nZurich also highlights contract certainty as a practical outcome: multinational programmes involve layered documents, varied local requirements and have the pervasive need for constant checking. It says GenAI helps internal experts compare, summarise and verify coverage in a programme using the operator’s native language, “in a fraction of the time” compared with the manual effort required to translate and capture the nuance of international differences. Although this area isn’t customer-facing, genAI improves the company’s responsiveness by letting its underwriters, risk engineers, and claims professionals work more efficiently.\nZurich also refers to AI “joining up the dots”, able to spot trends in data that would – given the quantity of information – go unnoticed by human staff. Indeed, AI amplifies its experts’ judgement rather than displacing it.\nThe common thread: augmentation, not automation-for-automation’s sake\nAcross these three examples, a consistent pattern emerges:\nAI handles the heavy lifting of reading, searching, and drafting; high-volume tasks in insurance operations.\nHumans remain accountable for consequent decisions, whether it’s claim payments or underwriting acceptance. (Allianz describes a “human-in-the-loop” approach, and Aviva and Zurich similarly emphasise experts retaining decision-making control).\nOperational control and scalability are treated as major concerns: pilots, testing, domain-by-domain tuning, and expansion into lines of business are integral part of the narrative.\nWhat this means for the sector\nInsurers see faster cycle times, better consistency, reduced manual work, and a path to scaling. Their challenge is implementing tools responsibly, which is defined by secure data handling, explainability where needed, and the training of teams so they can question outputs appropriately.\nAI is becoming less of a headline in the sector and more of an everyday reality, a practical silicon colleague in the routine work of insurance profitability.\n(Image source: “house fire” by peteSwede is licensed under CC BY 2.0. )\n \n\n\n\n\n\nWant to learn more about AI and big data from industry leaders? Check out AI & Big Data Expo taking place in Amsterdam, California, and London. The comprehensive event is part of TechEx and co-located with other leading technology events. Click here for more information.\nAI News is powered by TechForge Media. Explore other upcoming enterprise technology events and webinars here.\nThe post Ensuring effective AI in insurance operations appeared first on AI News.",
          "dc:creator": "AI News",
          "content": "<p>Artificial intelligence has been part of the insurance sector for years – the Finance function in many businesses is often the first to automate. But what&#8217;s remarkable in the instance of AI is how directly the technology is woven into day-to-day operational work. Not sitting in the background as a niche modelling capability, AI is [&#8230;]</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/insurance-ai-use-operational-differences-experienced-by-the-big-players/\">Ensuring effective AI in insurance operations</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "contentSnippet": "Artificial intelligence has been part of the insurance sector for years – the Finance function in many businesses is often the first to automate. But what’s remarkable in the instance of AI is how directly the technology is woven into day-to-day operational work. Not sitting in the background as a niche modelling capability, AI is […]\nThe post Ensuring effective AI in insurance operations appeared first on AI News.",
          "guid": "https://www.artificialintelligence-news.com/?p=111382",
          "categories": [
            "AI Business Strategy",
            "Finance AI",
            "Service Industry AI",
            "World of Work",
            "checks and balances",
            "document summarisation",
            "generative ai",
            "human oversight",
            "insurance",
            "insurtech"
          ],
          "isoDate": "2025-12-18T10:47:50.000Z"
        }
      },
      {
        "json": {
          "creator": "Dashveenjit Kaur",
          "title": "AstraZeneca leads big pharma’s AI clinical trials revolution with real-world patient impact",
          "link": "https://www.artificialintelligence-news.com/news/astrazeneca-ai-clinical-trials-2025/",
          "pubDate": "Thu, 18 Dec 2025 10:00:00 +0000",
          "content:encoded": "\n<p>Big Pharma&#8217;s AI race extends across drug discovery, development, and clinical trials—but AstraZeneca has distinguished itself by deploying AI clinical trials technology at an unprecedented public health scale.&nbsp;</p>\n\n\n\n<p>While competitors optimise internal R&amp;D pipelines, AstraZeneca&#8217;s AI is already embedded in national healthcare systems, screening hundreds of thousands of patients and demonstrating what happens when AI moves from pharmaceutical labs into actual patient care.</p>\n\n\n\n<p>The clinical validation backs this approach. AstraZeneca&#8217;s CREATE&nbsp;<a target=\"_blank\" href=\"https://www.astrazeneca.com/content/astraz/country-sites/thailand/press-releases/astrazeneca-reveals-success-in-using-ai-to-screen-lung-cancer-from-x-ray-images-enhancing-sustainable-health-security.html\" rel=\"noreferrer noopener\">study</a>, presented at the European Lung Cancer Congress in March 2025, demonstrated a 54.1% positive predictive value for its AI chest X-ray tool—far exceeding the pre-defined success threshold of 20%.&nbsp;</p>\n\n\n\n<p>Behind those numbers: over 660,000 people screened in Thailand since 2022, with AI detecting suspected pulmonary lesions in 8% of cases. More critically, Thailand&#8217;s National Health Security Office is now scaling this technology across 887 hospitals with a three-year budget exceeding 415 million baht.</p>\n\n\n\n<p>This isn&#8217;t just a pilot program or proof-of-concept. It&#8217;s AI clinical trials technology deployed at the national healthcare system scale.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-the-strategic-divergence-in-ai-clinical-trials-approaches\">The strategic divergence in AI clinical trials approaches</h3>\n\n\n\n<p>The contrast with competitors is revealing. Pfizer&#8217;s ML Research Hub has compressed drug discovery timelines to approximately 30 days for molecule identification. The company used AI to develop Paxlovid in record time, with machine learning analysing patient data 50% faster than traditional methods. Pfizer now deploys AI in over half its clinical trials.</p>\n\n\n\n<p>Novartis partnered with Nobel Prize winner Demis Hassabis&#8217;s Isomorphic Labs and Microsoft for &#8220;AI-driven drug discovery.&#8221; Its Intelligent Decision System uses computational twins to simulate clinical trial processes, with AI-identified sites reportedly recruiting patients faster than traditional selection methods.</p>\n\n\n\n<p>Roche&#8217;s &#8220;lab in a loop&#8221; strategy iterates AI models with laboratory experiments. Having acquired Foundation Medicine and Flatiron Health, Roche built the industry&#8217;s largest clinical genomic database—over 800,000 genomic profiles across 150+ tumour subtypes—targeting 50% efficiency gains in safety management by 2026.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-astrazeneca-s-clinical-operations-advantage\">AstraZeneca&#8217;s clinical operations advantage</h3>\n\n\n\n<p>What sets AstraZeneca apart in AI clinical trials isn&#8217;t just ambition—it&#8217;s execution at scale. The company runs over 240 global trials in its R&amp;D pipeline and has systematically embedded generative AI across clinical operations.&nbsp;</p>\n\n\n\n<p>It&#8217;s an &#8220;intelligent protocol tool,&#8221; developed with medical writers, that has reduced document authoring time by 85% in some cases. The company uses AI for 3D location detection on CT scans, slashing the time radiologists spend on manual annotation.</p>\n\n\n\n<p>More significantly, AstraZeneca is pioneering virtual control groups for AI clinical trials using electronic health records and past trial data to simulate placebo arms—potentially reducing the number of patients receiving non-active treatments. This represents a fundamental rethinking of clinical trial design itself.</p>\n\n\n\n<p>The lung cancer screening program exemplifies this strategic focus. Using Qure.ai&#8217;s qXR-LNMS tool, AstraZeneca isn&#8217;t just conducting trials—it&#8217;s transforming public health infrastructure. The December 2025 expansion includes a new industrial worker screening program targeting 5,000 workers across four Thai provinces, now expanding beyond lung cancer to include heart failure detection.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-the-timeline-acceleration-race\">The timeline acceleration race</h3>\n\n\n\n<p>Industry metrics show why AI clinical trials matter: Traditional drug development takes 10-15 years with a 90% failure rate. AI-discovered drugs achieve 80-90% Phase I success rates—double the 40-65% traditional benchmark. Over 3,000 AI-assisted drugs are in development, with 200+ AI-enabled approvals expected by 2030.</p>\n\n\n\n<p>Pfizer moves from molecule identification to clinical trials in six-week cycles. Novartis analyses 460,000 clinical trials in minutes versus months. Yet AstraZeneca&#8217;s model delivers immediate patient impact—detecting cancers today in underserved populations, often before symptoms appear.</p>\n\n\n\n<h3 class=\"wp-block-heading\" id=\"h-the-us-410-billion-question\">The US$410 Billion question</h3>\n\n\n\n<p>The World Economic Forum projects AI could generate US$350-$410 billion annually for pharma by 2030. The question is which approach captures more value: faster drug discovery or more efficient clinical operations?</p>\n\n\n\n<p>Pfizer&#8217;s bet on computational drug design and Novartis&#8217;s AI-powered trial site selection may yield breakthrough molecules. Roche&#8217;s integrated pharma-diagnostics model creates a proprietary data moat.&nbsp;</p>\n\n\n\n<p>But AstraZeneca&#8217;s strategy of embedding AI clinical trials throughout operations—from protocol generation to patient recruitment to regulatory submissions—is demonstrably reducing time-to-market while building real-world evidence at scale.</p>\n\n\n\n<p>The company&#8217;s partnership approach is equally distinctive. While others acquire AI companies or build internal hubs, AstraZeneca collaborates with technology partners like Qure.ai and Perceptra, regulatory bodies, and national health systems to deploy AI clinical trials where infrastructure gaps exist.</p>\n\n\n\n<p>As AstraZeneca pursues its&nbsp;<a target=\"_blank\" href=\"https://www.astrazeneca.com/media-centre/press-releases/2024/astrazeneca-to-deliver-80bn-revenue-by-2030.html\" rel=\"noreferrer noopener\">2030 goal</a>&nbsp;of delivering 20 new medicines and reaching us$80 billion in revenue, its AI clinical trials advantage isn&#8217;t just about speed—it&#8217;s about proving AI&#8217;s value in the most regulated, risk-averse phase of pharmaceutical development. While competitors race to discover the next breakthrough molecule, AstraZeneca is reengineering how clinical trials themselves are conducted.</p>\n\n\n\n<p>The winner may not be determined by who builds the most sophisticated algorithm, but by who deploys AI clinical trials technology where it demonstrably improves patient outcomes—at scale, under regulatory scrutiny, and within real healthcare systems.</p>\n\n\n\n<p>And in that race, AstraZeneca currently leads.</p>\n\n\n\n<p><em>(Photo by <a href=\"https://www.astrazeneca.com/media-centre/image-and-broadcast-library.html#imagetile_1661544247\">AstraZeneca</a>)</em></p>\n\n\n\n<p><strong>See also: <a href=\"https://www.artificialintelligence-news.com/news/google-amie-ai-doctor-learns-to-see-medical-images/\">Google AMIE: AI doctor learns to ‘see’ medical images</a></strong></p>\n\n\n\n<p><strong>Want to learn more about AI and big data from industry leaders?</strong> Check out<a target=\"_blank\" href=\"https://www.ai-expo.net/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\"> AI &amp; Big Data Expo</a> taking place in Amsterdam, California, and London. The comprehensive event is part of <a target=\"_blank\" href=\"https://techexevent.com/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\">TechEx</a> and is co-located with other leading technology events, click<a target=\"_blank\" href=\"https://techexevent.com/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" rel=\"noreferrer noopener\"> here</a> for more information.</p>\n\n\n\n<p>AI News is powered by <a href=\"https://techforge.pub/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" target=\"_blank\" rel=\"noreferrer noopener\">TechForge Media</a>. Explore other upcoming enterprise technology events and webinars <a href=\"https://techforge.pub/events/?utm_source=AI-News&amp;utm_medium=Footer-banner&amp;utm_campaign=world-series\" target=\"_blank\" rel=\"noreferrer noopener\">here</a>.</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/astrazeneca-ai-clinical-trials-2025/\">AstraZeneca leads big pharma&#8217;s AI clinical trials revolution with real-world patient impact</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "content:encodedSnippet": "Big Pharma’s AI race extends across drug discovery, development, and clinical trials—but AstraZeneca has distinguished itself by deploying AI clinical trials technology at an unprecedented public health scale. \nWhile competitors optimise internal R&D pipelines, AstraZeneca’s AI is already embedded in national healthcare systems, screening hundreds of thousands of patients and demonstrating what happens when AI moves from pharmaceutical labs into actual patient care.\nThe clinical validation backs this approach. AstraZeneca’s CREATE study, presented at the European Lung Cancer Congress in March 2025, demonstrated a 54.1% positive predictive value for its AI chest X-ray tool—far exceeding the pre-defined success threshold of 20%. \nBehind those numbers: over 660,000 people screened in Thailand since 2022, with AI detecting suspected pulmonary lesions in 8% of cases. More critically, Thailand’s National Health Security Office is now scaling this technology across 887 hospitals with a three-year budget exceeding 415 million baht.\nThis isn’t just a pilot program or proof-of-concept. It’s AI clinical trials technology deployed at the national healthcare system scale.\nThe strategic divergence in AI clinical trials approaches\nThe contrast with competitors is revealing. Pfizer’s ML Research Hub has compressed drug discovery timelines to approximately 30 days for molecule identification. The company used AI to develop Paxlovid in record time, with machine learning analysing patient data 50% faster than traditional methods. Pfizer now deploys AI in over half its clinical trials.\nNovartis partnered with Nobel Prize winner Demis Hassabis’s Isomorphic Labs and Microsoft for “AI-driven drug discovery.” Its Intelligent Decision System uses computational twins to simulate clinical trial processes, with AI-identified sites reportedly recruiting patients faster than traditional selection methods.\nRoche’s “lab in a loop” strategy iterates AI models with laboratory experiments. Having acquired Foundation Medicine and Flatiron Health, Roche built the industry’s largest clinical genomic database—over 800,000 genomic profiles across 150+ tumour subtypes—targeting 50% efficiency gains in safety management by 2026.\nAstraZeneca’s clinical operations advantage\nWhat sets AstraZeneca apart in AI clinical trials isn’t just ambition—it’s execution at scale. The company runs over 240 global trials in its R&D pipeline and has systematically embedded generative AI across clinical operations. \nIt’s an “intelligent protocol tool,” developed with medical writers, that has reduced document authoring time by 85% in some cases. The company uses AI for 3D location detection on CT scans, slashing the time radiologists spend on manual annotation.\nMore significantly, AstraZeneca is pioneering virtual control groups for AI clinical trials using electronic health records and past trial data to simulate placebo arms—potentially reducing the number of patients receiving non-active treatments. This represents a fundamental rethinking of clinical trial design itself.\nThe lung cancer screening program exemplifies this strategic focus. Using Qure.ai’s qXR-LNMS tool, AstraZeneca isn’t just conducting trials—it’s transforming public health infrastructure. The December 2025 expansion includes a new industrial worker screening program targeting 5,000 workers across four Thai provinces, now expanding beyond lung cancer to include heart failure detection.\nThe timeline acceleration race\nIndustry metrics show why AI clinical trials matter: Traditional drug development takes 10-15 years with a 90% failure rate. AI-discovered drugs achieve 80-90% Phase I success rates—double the 40-65% traditional benchmark. Over 3,000 AI-assisted drugs are in development, with 200+ AI-enabled approvals expected by 2030.\nPfizer moves from molecule identification to clinical trials in six-week cycles. Novartis analyses 460,000 clinical trials in minutes versus months. Yet AstraZeneca’s model delivers immediate patient impact—detecting cancers today in underserved populations, often before symptoms appear.\nThe US$410 Billion question\nThe World Economic Forum projects AI could generate US$350-$410 billion annually for pharma by 2030. The question is which approach captures more value: faster drug discovery or more efficient clinical operations?\nPfizer’s bet on computational drug design and Novartis’s AI-powered trial site selection may yield breakthrough molecules. Roche’s integrated pharma-diagnostics model creates a proprietary data moat. \nBut AstraZeneca’s strategy of embedding AI clinical trials throughout operations—from protocol generation to patient recruitment to regulatory submissions—is demonstrably reducing time-to-market while building real-world evidence at scale.\nThe company’s partnership approach is equally distinctive. While others acquire AI companies or build internal hubs, AstraZeneca collaborates with technology partners like Qure.ai and Perceptra, regulatory bodies, and national health systems to deploy AI clinical trials where infrastructure gaps exist.\nAs AstraZeneca pursues its 2030 goal of delivering 20 new medicines and reaching us$80 billion in revenue, its AI clinical trials advantage isn’t just about speed—it’s about proving AI’s value in the most regulated, risk-averse phase of pharmaceutical development. While competitors race to discover the next breakthrough molecule, AstraZeneca is reengineering how clinical trials themselves are conducted.\nThe winner may not be determined by who builds the most sophisticated algorithm, but by who deploys AI clinical trials technology where it demonstrably improves patient outcomes—at scale, under regulatory scrutiny, and within real healthcare systems.\nAnd in that race, AstraZeneca currently leads.\n(Photo by AstraZeneca)\nSee also: Google AMIE: AI doctor learns to ‘see’ medical images\nWant to learn more about AI and big data from industry leaders? Check out AI & Big Data Expo taking place in Amsterdam, California, and London. The comprehensive event is part of TechEx and is co-located with other leading technology events, click here for more information.\nAI News is powered by TechForge Media. Explore other upcoming enterprise technology events and webinars here.\nThe post AstraZeneca leads big pharma’s AI clinical trials revolution with real-world patient impact appeared first on AI News.",
          "dc:creator": "Dashveenjit Kaur",
          "content": "<p>Big Pharma&#8217;s AI race extends across drug discovery, development, and clinical trials—but AstraZeneca has distinguished itself by deploying AI clinical trials technology at an unprecedented public health scale.&#160; While competitors optimise internal R&#38;D pipelines, AstraZeneca&#8217;s AI is already embedded in national healthcare systems, screening hundreds of thousands of patients and demonstrating what happens when AI [&#8230;]</p>\n<p>The post <a href=\"https://www.artificialintelligence-news.com/news/astrazeneca-ai-clinical-trials-2025/\">AstraZeneca leads big pharma&#8217;s AI clinical trials revolution with real-world patient impact</a> appeared first on <a href=\"https://www.artificialintelligence-news.com\">AI News</a>.</p>\n",
          "contentSnippet": "Big Pharma’s AI race extends across drug discovery, development, and clinical trials—but AstraZeneca has distinguished itself by deploying AI clinical trials technology at an unprecedented public health scale.  While competitors optimise internal R&D pipelines, AstraZeneca’s AI is already embedded in national healthcare systems, screening hundreds of thousands of patients and demonstrating what happens when AI […]\nThe post AstraZeneca leads big pharma’s AI clinical trials revolution with real-world patient impact appeared first on AI News.",
          "guid": "https://www.artificialintelligence-news.com/?p=111379",
          "categories": [
            "AI and Us",
            "AI in Action",
            "Artificial Intelligence",
            "Deep Dives",
            "Features",
            "Healthcare & Wellness AI",
            "ai",
            "artificial intelligence"
          ],
          "isoDate": "2025-12-18T10:00:00.000Z"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "36b839a0-bd04-4451-b832-7008d22f970e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "da6082bbab87d7df9ec427221aed8ab72b4c8a2f3426dc93a82f08524c8c691a"
  },
  "id": "GNT36vkQ6HYiok6a",
  "tags": []
}